@charset "utf-8";

/*==============================================================================
  Title       : Block Editor Style (for Admin)
  Author      : Fumito Arakawa as Phize (http://phize.net/) and Geeklog Japanese
  Description : Block editor style for admin.
  Apply       : admin/block/blockeditor.thtml, admin/block/defaultblockeditor.thtml
==============================================================================*/



/*--------------------------------------
  Block Editor 
--------------------------------------*/

form#admin-blockeditor fieldset {
  margin: 0 0 1em 0;
}

form#admin-blockeditor h3 {
  margin: 0 0 0.5em 0;
  padding: 0.5em 0 0 0;
  border-top: 1px solid #CCCCCC;
}
