/*==============================================================================
  Title       : List Style (for admin)
  Author      : Fumito Arakawa as Phize (http://phize.net/) and Geeklog Japanese
  Description : List style for admin.
  Apply       : admin/lists/topmenu.thtml, admin/lists/topmenu_nosearch.thtml,
                admin/lists/menufields.thtml, admin/lists/list.thtml,
                admin/lists/listitem.thtml, admin/lists/header.thtml, admin/lists/field.thtml
==============================================================================*/



/*--------------------------------------
  Admin Page   
--------------------------------------*/

/* Search  | Refine */
form#admin-topmenu {
  margin: 0 0 1em 0;
  text-align: center;
}

form#admin-topmenu ul.filter {
  display: inline;
  margin: 0 auto;
  padding: 0;
}

form#admin-topmenu ul.filter li {
  display: inline;
  margin: 0;
  padding: 0;
}

form#admin-topmenu dl {
  display: inline;
  margin: 0 auto;
  padding: 0;
}

form#admin-topmenu dl dt {
  display: inline;
  margin: 0;
  padding: 0;
}

form#admin-topmenu dl dd {
  display: inline;
  margin: 0;
  padding: 0;
}

form#admin-topmenu ul.submit {
  display: inline;
  margin: 0;
  padding: 0;
}

form#admin-topmenu ul.submit li {
  display: inline;
  margin: 0;
  padding: 0;
}

/* Table */
table.admin-list {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

table.admin-list tr {
  margin: 0;
  padding: 0;
  background: #DAE0ED;
}

/* Even line */
table.admin-list tr.admin-listitem1 {
  background: #EFEFEF;
}

/* Odd Lines */
table.admin-list tr.admin-listitem2 {
  background: #D9D9D9;
}

/* Rollover */
table.admin-list tr.admin-listitem_rollover {
  background: #FFFF8F;
}

table.admin-list tr th {
  margin: 0;
  padding: 2px;
  text-align: {left};
}

table.admin-list tr td {
  margin: 0;
  padding: 2px;
}

table.admin-list tr td img {
  border: none;
}

/* Navigation */
ul.admin-list-navi {
  list-style-position: outside;
  list-style-type: none;
  margin: 0.5em 0 0 0;
  padding: 0;
}

ul.admin-list-navi li {
  display: inline;
}

/* Message */
p.admin-list-message {
  margin: 1em 0 0 0;
  padding: 0;
  text-align: center;
}
