/*==============================================================================
  Title       : Plugin Page Style (Admin Page)
  Author      : Fumito Arakawa as Phize (http://phize.net/) and Geeklog Japanese
  Description : Plugin page style for admin.
  Apply       : admin/plugins/editor.thtml,
                admin/plugins/newpluginlist.thtml, admin/plugins/newlistitem.thtml
==============================================================================*/



/*--------------------------------------
  Plugin Page 
--------------------------------------*/

/* Plugin Editor */
form#admin-editor div#admin-instructions ul {
  margin: 1em 0 0 0;
}

form#admin-editor div#admin-instructions ul:before {
  content: "";
}

form#admin-editor div#admin-instructions ul:after {
  content: "";
}

form#admin-editor div#admin-instructions ul li {
  margin: 0;
}

#admin-editor dt#title {
  display:     block;
  font-size:   13px;
  font-weight: bold;
  position:    relative;
  top:         10px;
}

#admin-editor input#close {
  width: 150px;
}

/* Used by lib-plugin.php to display dependencies */
b.notbold { /* hack for HTML compliance inside tooltips */
  font-weight: normal;
}

b.status_red {
  display:     inline;
  color:       #a40000;
}

b.status_orange {
  display:     inline;
  color:       #b25000;
}

b.status_green {
  display:     inline;
  color:       #3d7805;
}

b.status_black {
  display:     inline;
  color:       black;
}
