@charset "utf-8";

/*==============================================================================
  Title       : User Editor Style (Admin Page)
  Author      : Fumito Arakawa as Phize (http://phize.net/) and Geeklog Japanese
  Description : User editor style for admin.
  Apply       : admin/user/edituser.thtml, admin/user/groupedit.thtml,
                admin/user/batchdelete.thmlt, admin/user/batchdelete_options.thtml
==============================================================================*/



/*--------------------------------------
  User  Editor
--------------------------------------*/

/* User Images */
form#admin-edituser dl dd.user_photo {
  float: left;
  width: 75%;
  margin: 0 0 0.5em 25%;
  padding: 0;
}

/* セキュリティGroup */
form#admin-edituser dl dd p.groupinstructions {
  margin: 0 0 0.5em 0;
}



/*--------------------------------------
  Batch Delete 
--------------------------------------*/

form#admin-batchdelete {
  margin: 1em 0 0 0;
}

form#admin-batchdelete ul {
  margin: 0;
  padding: 0;
}

form#admin-batchdelete ul:before {
  content: "";
}

form#admin-batchdelete ul:after {
  content: "";
}

form#admin-batchdelete ul li {
  display: block;
  margin: 0;
  padding: 0;
}

form#admin-batchdelete ul.submit {
  margin: 0 0 1em 0;
  padding: 0;
}

form#admin-batchdelete dl dt input.radio {
  margin: 0 4px 0 0;
}



/*--------------------------------------
  Reminder
--------------------------------------*/

ul#reminder-submit {
  list-style: none outside;
}

ul#reminder-submit,
ul#reminder-submit li {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
