@charset "utf-8";

/*==============================================================================
  Title       : Trackback Style 
  Author      : Fumito Arakawa as Phize (http://phize.net/) and Geeklog Japanese
  Description : Trackback  | Trackback page style.
  Apply       : trackback/trackback.thtml,
                trackback/trackbackcomment.thtml, trackback/formattedcomment.thtml
==============================================================================*/



/*--------------------------------------
  Trackback 
--------------------------------------*/

/* Trackback Block */
div#trackback {
  margin: 0;
  padding: 0;
}

/* Title */
div#trackback h3 {
  margin: 0 0 0.5em 0;
  padding: 0;
  font-size: 100%;
  font-weight: bold;
}

/* Trackback Content */
div#trackback div.block-trackback-content {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #E7E7E7;
}

/* Trackback URL */
div#trackback div.block-trackback-content dl {
  margin: 0 0 1em 0;
  padding: 0;
}

div#trackback div.block-trackback-content dl dt {
  display: inline;
  margin: 0;
  padding: 0;
}

div#trackback div.block-trackback-content dl dd {
  display: inline;
  margin: 0;
  padding: 0;
}

/* Description */
div#trackback p.trackback_comments_no_link {
  margin: 0 0 1em 0;
  padding: 0;
}

/* Recept Trackback Block */
div.formattedcomment {
  margin: 0 0 1em 0;
  padding: 0;
}

/* Recept Trackback Information  */
div.formattedcomment ul.status {
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Recept Trackback Title */
div.formattedcomment ul.status li.title {
  margin: 0 0 0.5em 0;
  padding: 4px;
  border: 1px solid #E7E7E7;
  background: #F7F7F7;
}

/* Recept Trackback Recept Date */
div.formattedcomment ul.status li.trackback_date {
  margin: 0 0 0.5em 0;
  padding: 0;
}

/* Recept Trackback Summary */
div.formattedcomment p.trackback_excerpt_readmore {
  margin: 0 0 1em 0;
  padding: 0;
}


/* Delete Navigation */
div.formattedcomment ul.navi {
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Delete Links */
div.formattedcomment ul.navi li.delete_option {
  display: inline;
  margin: 0;
  padding: 0;
}
