
fieldset {
  padding-top: 0;
}

textarea {
  overflow: auto;
}

ul, ol {
  margin-right: 45px; /* rtl */
}

.clearfix {
  zoom: 1;
}

/*--------------------------------------
  Basic Form
--------------------------------------*/

.form_block {
  margin-top: 7px;
  zoom: 1;
}

fieldset .form_block:after {
  content: "";
  display: block;
  clear: both;
  height: 1px;
  overflow: hidden;
}
fieldset .form_block {
  zoom: 1;
}

/*--------------------------------------
  2 Culumn Form
--------------------------------------*/

/* Description */
.compact dd.description {
  margin-right: 23.4%; /* rtl */
}

.compact fieldset dd.description,
fieldset .compact dd.description {
  margin-right: 25%; /* rtl */
}

/*--------------------------------------
  1 Column Form
--------------------------------------*/

.linear {
  clear: right; /* rtl */
}

/* Description */
.linear dd.description {
  margin: 0 0 1em 0;
  padding: 0;
}

/*--------------------------------------
  Profile Notes
--------------------------------------*/

.profile_notes {
  border: 1px solid #CCC;
}

/*--------------------------------------
  System Message Block
--------------------------------------*/

/* Title */
#block-message dt {
  border: 1px solid #32567B;
}

/* Message */
#block-message dd {
  font-weight: bold;
  border-bottom: 1px solid #BEBEBE;
  border-left:   1px solid #BEBEBE;
  border-right:  1px solid #BEBEBE;
}

/*--------------------------------------
  Story
--------------------------------------*/

/* Container */
.storytext {
  position: relative;
}

/* Story Title */
.story_title {
  line-height: 1.3em;
  margin-bottom: 0px;
}

/* Icon(email, print, pdf) */
.story_icon {
  width: 75px;
  text-align: left; /* rtl */
}

/*--------------------------------------
  Comment Block
--------------------------------------*/

#commentbar {
  position: relative;
}

/* Comment Submit Form  */
#commentbar-comment {
  float: none;
}

#commentbar-comment div.submit {
  text-align: right; /* rtl */
}

#commentbar-selector {
  float: none;
  position: absolute;
  top: 3px;
  left: 3px; /* rtl */
  padding: 0.3em;
}

/*--------------------------------------
  Navigation
--------------------------------------*/

#navcontainer {
  float: none;
  zoom: 1;
}

#navcontainer:after {
  content: "";
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

#navlist {
  zoom: 1;
}

.label-navlist {
  white-space: nowrap;
}

/*--------------------------------------
  Page Navigation
--------------------------------------*/

.gl-pagenav a {
  display: inline;
  zoom: 1;
}
.gl-pagenav span {
  display: inline;
  zoom: 1;
}

/*--------------------------------------
  Admin Top Menu Style
--------------------------------------*/

#admin-topmenu {
  border: 1px solid #DDD;
  overflow: auto;
}

/*--------------------------------------
  Admin Page
--------------------------------------*/

/* Table */
.admin-list-table {
  border-collapse: collapse;
}

.admin-list-table th,
.admin-list-table td {
  border-bottom: 1px solid #FFF;
  border-left: 1px solid #FFF; /* rtl */
}

/* Permission */
.admin-list-smalltable {
  border-collapse: collapse;
}

.admin-list-smalltable th,
.admin-list-smalltable td {
  border-bottom: 1px solid #FFF;
  border-left: 1px solid #FFF; /* rtl */
}

.search-part {
  display: inline;
  white-space: normal;
}

/*--------------------------------------
  Permission Style
--------------------------------------*/

#admin-permissions {
  border-collapse: collapse;
}

#admin-permissions th,
#admin-permissions td {
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent; /* rtl */
}

/*--------------------------------------
  Moderation Page
--------------------------------------*/

#admin-moderation:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#admin-moderation {
  overflow: auto;
  width: 100%;
}

#admin-moderation li {
  width: 12.48%;
}

/*--------------------------------------
  Article Page
--------------------------------------*/

/* Article Related Block */
.block-related {
  width: 49.5%;
}

/*--------------------------------------
  Profile
--------------------------------------*/

#profile-userprofile dd {
  width: auto;
  float: none;
}

/*--------------------------------------
  Admin Configration
--------------------------------------*/

.block-config-content {
  margin-left: 0;
}

/*--------------------------------------
  Polls Plugin
--------------------------------------*/

#leftblocks .poll-questions ul,
#rightblocks .poll-questions ul {
  margin-right: -20px; /* rtl */
}

/* Smaller than standard 1280 (devices and browsers) */
@media only screen and (max-width: 1192px) { 

	/*--------------------------------------
	   Center Block Container
	--------------------------------------*/

	body.left-center-right #main-content,
	body.left-center #main-content,
	body.center-right #main-content {
	  width: 659px;  /* Center Block Width = [W] - [L] - [R] - Right Padding - Left Padding - 1 */
	}

	/*--------------------------------------
	  Moderation Page
	--------------------------------------*/

	#admin-moderation li {
	  width: 16.61%;
	}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 979px) {

	/*--------------------------------------
	   Center Block Container
	--------------------------------------*/

	body.left-center-right #main-content,
	body.left-center #main-content,
	body.center-right #main-content {
	  width: 527px; /* Center Block Width = [W] - [L] - [R] - Right Padding - Left Padding - 1 */
	}

	/*--------------------------------------
	  Moderation Page
	--------------------------------------*/

	#admin-moderation li {
	  width: 19.98%;
	}
}


@media only screen and (max-width: 979px) {

	/*--------------------------------------
	  2 Culumn Form
	--------------------------------------*/

	.compact fieldset dd.description,
	fieldset .compact dd.description {
	  margin-right: 0; /* rtl */
	}

	/*--------------------------------------
	  Admin Configration
	--------------------------------------*/

	.configoption {
	  display: inline;
	  zoom: 1;
	}

	.configoption_off {
	  display: inline;
	  zoom: 1;
	}

	.configoption a {
	  display: inline;
	  zoom: 1;
	}

	ul.block-config-content {
	  margin-right: 0; /* rtl */
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

	/*--------------------------------------
	   Center Block Container
	--------------------------------------*/

	body.left-center-right #main-content,
	body.left-center #main-content,
	body.center-right #main-content {
	  width: 100%;
	  padding: 0;
	}

	/*--------------------------------------
	  Moderation Page
	--------------------------------------*/

	#admin-moderation li {
	  width: 24.94%;
	}

	/*--------------------------------------
	  Left And Right Block
	--------------------------------------*/

	#config_menu .block-title {
	  margin-left: 0;
	  margin-right: 0;
	}

	#search-configuration-container label {
	  margin-left: 0;
	  margin-right: 0;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

	/*--------------------------------------
	  Moderation Page
	--------------------------------------*/

	#admin-moderation li {
	  width: 33.24%;
	}
}

