public_html/.htaccess
public_html/web.config
aspnet_client/

db-config.php
public_html/siteconfig.php
system/lib-custom.php

public_html/sitemap.xml
public_html/filemanager/scripts/filemanager.config.json

# Template cache files
data/layout_cache/**
data/layout_css/**

# Resource cache files
data/cache/**

# image and logs
logs/*.log
public_html/images/articles
public_html/images/userphotos
public_html/images/topics
public_html/images/cache
public_html/images/_thumbs

# Geeklog.net Theme
public_html/layout/glnet_curve

# popular plugins, if present
plugins/forum
public_html/forum
public_html/admin/plugins/forum
plugins/gus
public_html/gus
public_html/admin/plugins/gus
plugins/autotags
public_html/autotags
public_html/admin/plugins/autotags
plugins/ban
public_html/ban
public_html/admin/plugins/ban
plugins/dokuwiki
public_html/dokuwiki
public_html/admin/plugins/dokuwiki
plugins/mediagallery
public_html/mediagallery
public_html/admin/plugins/mediagallery
plugins/vthemes
public_html/vthemes
public_html/admin/plugins/vthemes
plugins/faq
public_html/faq
public_html/admin/plugins/faq
plugins/faqman
public_html/faqman
public_html/admin/plugins/faqman
plugins/downloads
public_html/downloads
public_html/downloads_data
public_html/admin/plugins/downloads

# test framework, if present
public_html/tests

^config.php
plugins/calendar/config.php
plugins/links/config.php
plugins/polls/config.php
plugins/spamx/config.php
plugins/staticpages/config.php

backups/*.sql
backups/*.tar.gz
backups/*.gz
backups/*.tgz
backups/*.zip

# denim theme or uikit
dest/
node_modules/

# ignore thumbnails created by Windows
**/Thumbs.db

# ignore thumbnails created by OSX
.DS_Store
