system/pear/*.php
system/pear/Archive
system/pear/Auth
system/pear/Console
system/pear/Date
system/pear/HTTP
system/pear/Mail
system/pear/Net
system/pear/OS
system/pear/PEAR
system/pear/PHP
system/pear/System.php
system/pear/Text
system/pear/XML
system/pear/scripts
system/pear/LICENSE

db-config.php
public_html/siteconfig.php
system/lib-custom.php

public_html/.htaccess
public_html/sitemap.xml
public_html/filemanager/scripts/filemanager.config.js

data/layout_cache/**
data/layout_css/**

logs/*.log
public_html/images/articles
public_html/images/userphotos
public_html/images/topics

# popular plugins, if present
plugins/forum
public_html/forum
public_html/admin/forum
plugins/gus
public_html/gus
public_html/admin/gus
plugins/ban
public_html/admin/ban
plugins/autotags
public_html/autotags
public_html/admin/autotags

# test framework, if present
public_html/tests

^config.php
plugins/calendar/config.php
plugins/links/config.php
plugins/polls/config.php
plugins/spamx/config.php
plugins/staticpages/config.php

backups/*.sql
backups/*.tar.gz
backups/*.tgz
backups/*.zip

# denim theme or uikit
dest/
node_modules/

# ignore thumbnails created by windows
**/Thumbs.db

# ignore thumbnails created by osx
.DS_Store
