/*==============================================================================
  Title       : Default Style
  Author      : Fumito Arakawa as Phize (http://phize.net/) and Geeklog Japanese
  Description : Default style.
                This CSS is for only Adjustment of user agent default style differences.
                Don' change these style, because these are base of all ProfessionalCSS_en style.
                If you want to change style, add to custom.css ( or change common.css )
  Apply       : All
==============================================================================*/



/*--------------------------------------
 Universal Selector
---------------------------------------*/

* {
  margin: 0;
  padding: 0;
}



/*--------------------------------------
 Structure Module
---------------------------------------*/

html {
  display: block;
}

head, meta, script, style, title, param {
  display: none;
}

body {
  display: block;
  margin: 8px;
}



/*--------------------------------------
 Text Module
---------------------------------------*/

h1 {
  display: block;
  margin: 0.67em 0;
  font-size: 2em;
  font-weight: bolder;
}

h2 {
  display: block;
  margin: 0.75em 0;
  font-size: 1.5em;
  font-weight: bolder;
}

h3 {
  display: block;
  margin: 0.83em 0;
  font-size: 1.17em;
  font-weight: bolder;
}

h4 {
  display: block;
  margin: 1.12em 0;
  font-size: 1em;
  font-weight: bolder;
}

h5 {
  display: block;
  margin: 1.5em 0;
  font-size: 0.83em;
  font-weight: bolder;
}

h6 {
  display: block;
  margin: 1.67em 0;
  font-size: 0.75em;
  font-weight: bolder;
}

address {
  display: block;
  font-style: italic;
}

p {
  display: block;
  margin: 1.12em 0;
}

pre {
  display: block;
  margin: 1em 0;
  font-family: monospace;
  white-space: pre;
}

blockquote {
  display: block;
  margin: 1.12em 40px;
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

cite {
  font-style: italic;
}

em {
  font-style: italic;
}

strong {
  font-weight: bolder;
}

var {
  font-style: italic;
}

dfn {
  font-style: italic;
}

code {
  font-family: monospace;
}

samp {
  font-family: monospace;
}

kbd {
  font-family: monospace;
}

abbr[title], acronym[title] {
  border-bottom: 1px dotted;
}



/*--------------------------------------
  Hypertext Module
---------------------------------------*/

a:link, a:visited {
  text-decoration: underline;
}

a:focus  {
  outline: thin dotted invert;
}



/*--------------------------------------
  List Module
---------------------------------------*/

ul {
  list-style-type: disc;
  display: block;
  margin: 1.12em 0;
  padding-{left}: 40px;
}

ol {
  list-style-type: decimal;
  display: block;
  margin: 1.12em 0;
  padding-{left}: 40px;
}

li {
  display: list-item;
}

ul ul,
ul ol,
ul dl,
ol ul,
ol ol,
ol dl,
dl ul,
dl ol,
dl dl {
  margin-top: 0;
  margin-bottom: 0;
}

ol ul,
ul ul {
  list-style-type: circle;
}

ol ol ul,
ol ul ul,
ul ol ul,
ul ul ul {
  list-style-type: square;
}

dl {
  display: block;
  margin: 1.12em 0;
}

dt {
  display: block;
}

dd {
  display: block;
  margin-{left}: 40px;
}



/*--------------------------------------
  Edit Module
---------------------------------------*/

ins {
  text-decoration: underline;
}

del {
  text-decoration: line-through;
}



/*--------------------------------------
  Forms Module
---------------------------------------*/

form {
  display: block;
  margin: 1.12em 0;
}

fieldset{
  display: block;
  margin: 1.12em 0;
}

button {
  display: inline-block;
}

textarea {
  display: inline-block;
  font-size: small;
}

input {
/*  display: inline-block; */ /* <input type="hidden"> not apply */
}

select {
  display: inline-block;
}



/*--------------------------------------
  Tables Module
---------------------------------------*/

table {
  display: table;
  margin-top: 0;
  margin-bottom: 0;
  border-spacing: 2px;
  border-collapse: separate;
  text-indent: 0;
}

table[align="left"] {
  margin-right: auto;
}

table[align="center"] {
  margin-left: auto;
  margin-right: auto;
}

table[align="right"] {
  margin-left: auto;
}

caption {
  display: table-caption;
  text-align: center;
}

thead {
  display: table-header-group;
  vertical-align: middle;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
}

tfoot {
  display: table-footer-group;
  vertical-align: middle;
}

tr {
  display: table-row;
  vertical-align: inherit;
}

col {
  display: table-column;
}

colgroup {
  display: table-column-group;
}

table>tr {
  vertical-align: middle;
}

th,
td {
  vertical-align: top;
}

th {
  display: table-cell;
  font-weight: bolder;
  text-align: center;
}

td { 
  display: table-cell;
  text-align: inherit;
  padding: 2px;
}

tr[align="left"],
th[align="left"],
td[align="left"] {
  text-align: left;
}

td[align="left"]>table,
td[align="left"]>table,
td[align="left"]>table {
  margin-right: auto;
}

tr[align="center"],
th[align="center"],
td[align="center"] {
  text-align: center;
}

td[align="center"]>table,
td[align="center"]>table,
td[align="center"]>table {
  margin-left: auto;
  margin-right: auto;
}

tr[align="right"],
th[align="right"],
td[align="right"] {
  text-align: right;
}

td[align="right"]>table,
td[align="right"]>table,
td[align="right"]>table {
  margin-left: auto;
}

tr[valign="top"],
th[valign="top"],
td[valign="top"] {
  vertical-align: top;
}

tr[valign="middle"],
th[valign="middle"],
td[valign="middle"] {
  vertical-align: middle;
}

tr[align="bottom"],
th[align="bottom"],
td[align="bottom"] {
  vertical-align: bottom;
}



/*--------------------------------------
  Image Module
---------------------------------------*/

a img {
  border: 2px solid;
}



/*--------------------------------------
Presentation Module
---------------------------------------*/

hr {
  display: block;
  height: 2px;
  border: 1px inset;
  margin: 0.5em auto;
}

sub {
  vertical-align: sub;
  font-size: 0.83em;
  line-height: normal;
}

sup {
  vertical-align: super;
  font-size: 0.83em;
  line-height: normal;
}
