/*==============================================================================
  Title       : Form Style
  Author      : Fumito Arakawa as Phize (http://phize.net/) and Geeklog Japanese
  Description : Form style.
  Apply       : leftblocks.thtml, loginform.thtml,
                custom-memberlogin.thtml, customlogin-header.thtml, customlogin-footer.thtml
==============================================================================*/



/*--------------------------------------
  Search Form
--------------------------------------*/

/* Block */
div#leftblocks div#block-left-search {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Form */
div#leftblocks div#block-left-search form#searchform {
  position: absolute;
  top: 92px;
  {right}: 26px;
  margin: 0;
  padding: 0;
}

div#leftblocks div#block-left-search form#searchform div {
  margin: 0;
  padding: 0;
  background: transparent url('./images/css/search-{right}.png') no-repeat 0 0;
  width: 180px;
  height: 26px;
  line-height: 26px;
  padding: 2px 5px;
}

div#leftblocks div#block-left-search form#searchform div input {
  border: 0px solid transparent;
  height: 25px;
  background: transparent;
  line-height: 25px;
}

/* Form Input Field */
div#leftblocks div#block-left-search form#searchform div input.text {
  float: {left};
  width: 145px;
}

/* Form Button */
div#leftblocks div#block-left-search form#searchform div input.submit {
  float: {right};
  width: 30px;
  cursor: pointer;
}

/* Search Option */
div#leftblocks div#block-left-search form#searchform p {
  margin: 0;
  padding: 0;
}


/*--------------------------------------
  Login Form
--------------------------------------*/

/* Input sizing */
form#loginform input,
form#loginform select,
form.third-party-login input {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Form Item */
form#loginform dl {
  margin: 0;
  padding: 0;
}

form#loginform dl dt {
  margin: 0;
  padding: 0;
}

form#loginform dl dd {
  margin: 0;
  padding: 0;
}

form#loginform input.submit {
  height: 28px;
  font-size: 12px;
}

/* Form Option Menu */
form#loginform ul.navi {
  list-style-position: outside;
  list-style-type: none;
  padding: 0;
}

form#loginform ul.navi li {
  margin: 0;
  padding: 0;
}

/* Third party login */
form.third-party-login {
  margin: 0.1em 0;
}

form.third-party-login div {
  position: relative;
}

form.third-party-login div img {
  position: absolute;
  {left}: 6px;
  top: 6px;
}

form.third-party-login div input.submit {
  text-indent: 24px;
  font-size: 12px;
  height: 28px;
}

div.third-party-login {
  width: 164px;
}
