/*==============================================================================
  Title       : Basic Layout Style
  Authors     : Fumito Arakawa as Phize (http://phize.net/) and Geeklog Japanese
                Rouslan Placella <rouslan@placella.com>
  Description : Basic layout style.

  Apply       : storytext.thtml, storybodytext.thtml
                featuredstorytext.thtml, featuredstorybodytext.thtml

==============================================================================*/

body {
  background: #eeeeec url('./images/css/bg.png') repeat-x 0 0;
}

/*--------------------------------------
   Container
    Include All Block Level Element(div#header, div#navigation, div#wrapper, div#footer)
--------------------------------------*/

div#container {
  position: relative;
  width: 960px;  /*  Site Width */
  margin: 1em auto;
  padding: 12px;
  text-align: left;
  border: 1px solid #656663;
  background: white;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

  -webkit-box-shadow: 0px 0px 8px 1px #333;
  -moz-box-shadow: 0px 0px 8px 1px #333;
  box-shadow: 0px 0px 8px 1px #333; 
}


/*--------------------------------------
  Header Container
--------------------------------------*/

div#container div#header {
  height: 120px;
  border: 1px solid #656663;
  background: transparent url('./images/css/bg_header.png') repeat-x 0 0;
  margin-bottom: 12px;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  -webkit-box-shadow: 0px 0px 2px 1px #888;
  -moz-box-shadow: 0px 0px 2px 1px #888;
  box-shadow: 0px 0px 2px 1px #888; 
}

div#container div#header div#header-content {
  margin: 0 auto;
  padding: 0;
}

/*  Site Name */
div#container div#header h1.site_name {
  display: inline;  /* For Win IE 6(Float Left Right Margin is too wide) */
  margin: 20px 0 0 16px;
  padding: 0;
  float: left;
}

/* Slogan */
div#container div#header p.site_slogan {
  margin: 0;
  padding: 10px 16px 0;
  color: #FFFFFF;
  text-align: right;
}



/*--------------------------------------
  Gloval Navigation Container
--------------------------------------*/

div#container div#navigation {
  background: #dbddd9 url('./images/css/menu_bg.png') repeat-x 0 0;
  border: 1px solid #939490;
  margin: auto;
  width: 95%;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  -webkit-box-shadow: 0px 0px 2px 1px #aaa;
  -moz-box-shadow: 0px 0px 2px 1px #aaa;
  box-shadow: 0px 0px 2px 1px #aaa; 
}

/*  Navigation Menu List */
div#container div#navigation ul {
  list-style-type: none;
  margin: 0 1em;
  padding: 0;
}

/*  Navigation Menu(Normal) */
div#container div#navigation ul li.menuitem {
  float: left;
  display: block;
}

div#container div#navigation ul li.menuitem a,
div#container div#navigation ul li.menuitem a:link,
div#container div#navigation ul li.menuitem a:visited {
  float: left;
  display: block;
  height: 2.3em;
  line-height: 2.2em;
  padding: 0 0.8em;
  border-left: 1px dotted #939490;
  text-decoration: none;
  color: #2E3436;
  font-size: 13px;
}

div#container div#navigation ul li.menuitem a:hover,
div#container div#navigation ul li.menuitem a:focus,
div#container div#navigation ul li.menuitem a:active {
  background: #ededeb url('./images/css/menu_bg_active.png') repeat-x 0 0;
  text-decoration: underline;
}

/*  Navigation Menu(Last) */
div#container div#navigation ul li.last-child {
}

div#container div#navigation ul li.last-child a,
div#container div#navigation ul li.last-child a:link,
div#container div#navigation ul li.last-child a:visited {
  padding-right: 1em;
  border-right: 1px dotted #939490;
}

div#container div#navigation ul li.last-child a:hover,
div#container div#navigation ul li.last-child a:focus,
div#container div#navigation ul li.last-child a:active {
}



/*--------------------------------------
  Wrapper
    Include contents Block level elements(div#leftblocks, div#centerblocks, div#rightblocks)
--------------------------------------*/

div#container table#wrapper {
    width: 100%;
}

div#container div#rightblocks {
    width: 180px;
}

div#container td#centerblocks-wrapper {
    width: 100%;
}

div#container div#centerblocks {
    width: 100%;
}

div#container div#leftblocks {
    width: 180px;
}

/*--------------------------------------
   Footer Container
--------------------------------------*/

div#container div#footer {
  clear: left;
  padding: 12px;
  border: 1px solid #656663;
  background: #ededeb;
  color: #223;

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

div#container div#footer-content {
  margin: 0 auto;
}

div#container div#footer-content:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*  Footer Link */
div#container div#footer a,
div#container div#footer a:link,
div#container div#footer a:visited {
}

div#container div#footer a:hover,
div#container div#footer a:focus,
div#container div#footer a:active {
}

/*  Footer List */
div#container div#footer ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}

div#container div#footer ul li {
  margin: 0;
  padding: 0;
}

/* Copyright */
div#container div#footer ul.copyright {
  float: left;
}
div#container div#footer ul li.copyright_notice {
}

div#container div#footer ul li.copyright_notice address {
  font-style: normal;
}


/* Powered by & Page Execution Time */
div#container div#footer ul.site_info {
  float: right;
  text-align: right;
}

/* Powered by */
div#container div#footer ul li.powered_by {
}

/* Page Execution Time */
div#container div#footer ul li.execution_textandtime {
}
