@charset "utf-8";

/*==============================================================================
  Title       : Basic Layout Style
  Authors     : Fumito Arakawa as Phize (http://phize.net/) and Geeklog Japanese
                Rouslan Placella <rouslan@placella.com>
  Description : Basic layout style.

  Apply       : storytext.thtml, storybodytext.thtml
                featuredstorytext.thtml, featuredstorybodytext.thtml

==============================================================================*/


/*--------------------------------------
   Container
    Include All Block Level Element(div#header, div#navigation, div#wrapper, div#footer)
--------------------------------------*/

div#container {
  position: relative;
  width: 960px;  /*  Site Width */
  margin: 1em auto;
  padding: 10px;
  text-align: left;
  border: 1px solid #888;
}


/*--------------------------------------
  Header Container
--------------------------------------*/

div#container div#header {
  height: 80px;
  background: transparent url(../images/css/bg_header.gif) repeat-x 0 0;
}

div#container div#header div#header-content {
  margin: 0 auto;
  padding: 0;
}

/*  Site Name */
div#container div#header h1.site_name {
  display: inline;  /* For Win IE 6(Float Left Right Margin is too wide) */
  margin: 12px 0 0 16px;
  padding: 0;
  float: left;
}

/* Slogan */
div#container div#header p.site_slogan {
  margin: 0;
  padding: 16px 16px 0 16px;
  color: #FFFFFF;
  text-align: right;
}



/*--------------------------------------
  Gloval Navigation Container
--------------------------------------*/

div#container div#navigation {
  background: #E7E7E7;
  text-align: left;
}

div#container div#navigation div {
  margin: 0 auto;
  padding: 0;
}

div#container div#navigation div.navigation_content {
  padding: 0.5em 8px;
}

/*  Navigation Menu List */
div#container div#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div#container div#navigation ul li {
  display: inline;
  margin: 0 2px;
  padding: 0;
}

/*  Navigation Menu(Normal) */
div#container div#navigation ul li.menuitem {
}

div#container div#navigation ul li.menuitem a,
div#container div#navigation ul li.menuitem a:link,
div#container div#navigation ul li.menuitem a:visited {
}

div#container div#navigation ul li.menuitem a:hover,
div#container div#navigation ul li.menuitem a:focus,
div#container div#navigation ul li.menuitem a:active {
}

/*  Navigation Menu(Last) */
div#container div#navigation ul li.last-child {
}

div#container div#navigation ul li.last-child a,
div#container div#navigation ul li.last-child a:link,
div#container div#navigation ul li.last-child a:visited {
}

div#container div#navigation ul li.last-child a:hover,
div#container div#navigation ul li.last-child a:focus,
div#container div#navigation ul li.last-child a:active {
}



/*--------------------------------------
  Wrapper
    Include contents Block level elements(div#leftblocks, div#centerblocks, div#rightblocks)
--------------------------------------*/

div#container table#wrapper {
    width: 100%;
}

div#container div#rightblocks {
    width: 180px;
}

div#container td#centerblocks-wrapper {
    width: 100%;
}

div#container div#centerblocks {
    width: 100%;
}

div#container div#leftblocks {
    width: 180px;
}

/*--------------------------------------
   Footer Container
--------------------------------------*/

div#container div#footer {
  clear: left;
  padding: 16px;
  border-top: 1px solid #1A3955;
}

div#container div#footer-content {
  margin: 0 auto;
}

div#container div#footer-content:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/*  Footer Link */
div#container div#footer a,
div#container div#footer a:link,
div#container div#footer a:visited {
}

div#container div#footer a:hover,
div#container div#footer a:focus,
div#container div#footer a:active {
}

/*  Footer List */
div#container div#footer ul {
  list-style-type: none;
  list-style-position: outside;
  margin: 0;
  padding: 0;
}

div#container div#footer ul li {
  margin: 0;
  padding: 0;
}

/* Copyright */
div#container div#footer ul.copyright {
  float: left;
}
div#container div#footer ul li.copyright_notice {
}

div#container div#footer ul li.copyright_notice address {
  font-style: normal;
}


/* Powered by & Page Execution Time */
div#container div#footer ul.site_info {
  float: right;
  text-align: right;
}

/* Powered by */
div#container div#footer ul li.powered_by {
}

/* Page Execution Time */
div#container div#footer ul li.execution_textandtime {
}
