/*==============================================================================
  Title       : Option Menu Style
  Author      : Fumito Arakawa as Phize (http://phize.net/) and Geeklog Japanese
  Description : Left Block and Right Block Style.
  Apply       : adminoption.thtml, adminoption_off.thtml
                topicoption.thtml, topicoption_off.thtml
                useroption.thtml, useroption_off.thtml
==============================================================================*/



/*--------------------------------------
  Admin Option
--------------------------------------*/

/* Menu Enabled */
li.adminoption {
  list-style: none outside;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Menu Enabled Menu Link */
li.adminoption a,
li.adminoption a:link,
li.adminoption a:visited {
}

li.adminoption a:hover,
li.adminoption a:focus,
li.adminoption a:active {
}

/* Menu Disabled */
li.adminoption_off {
  list-style: none outside;
  margin: 0;
  padding: 0;
  color: #333;
}



/*--------------------------------------
  Topic Menu
--------------------------------------*/

/* Menu Enabled */
li.topicoption {
  list-style: none outside;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Menu Enabled Menu Link */
li.topicoption a,
li.topicoption a:link,
li.topicoption a:visited {
}

li.topicoption a:hover,
li.topicoption a:focus,
li.topicoption a:active {
}

/* Menu Disabled */
li.topicoption_off {
  list-style: none outside;
  margin: 0;
  padding: 0;
  color: #333;
}



/*--------------------------------------
  User Menu
--------------------------------------*/

/* Menu Enabled */
li.useroption {
  list-style: none outside;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Menu Enabled Menu Link */
li.useroption a,
li.useroption a:link,
li.useroption a:visited {
}

li.useroption a:hover,
li.useroption a:focus,
li.useroption a:active {
}

/* Menu Disabled */
li.useroption_off {
  list-style: none outside;
  margin: 0;
  padding: 0;
  color: #333;
}
