json("config.json")

@import "nib";
@import "sub/mixins";
@import "sub/variables";
@import "sub/theme_" + $var-name;
@import "sub/variables_default";
@import "sub/base";
@import "sub/compatible";
@import "sub/form_basic";
@import "sub/layout_" + $var-name;
@import "sub/block_contents";
@import "sub/main_contents";
@import "sub/admin";
@import "sub/admin_config";
