/*==============================================================================
  Title       : Trackback Page Style (Admin Page)
  Author      : Fumito Arakawa as Phize (http://phize.net/) and Geeklog Japanese
  Description : Trackback page style for admin.
  Apply       : admin/trackback/autodetectlist.thtml, admin/trackback/autodetectitem.thtml,
                admin/trackback/pingbackform.thtml, admin/trackback/pingbacklist.thtml,
                admin/trackback/pingbackitem.thtml, admin/trackback/pingform.thtml,
                admin/trackback/pinglist.thtml, admin/trackback/pingitem.thtml,
                admin/trackback/serviceeditor.thtml, admin/trackback/trackbackeditor.thtml
==============================================================================*/



/*--------------------------------------
  Trackback 
--------------------------------------*/

p.trackback-message {
  margin: 0 0 1em 0;
  padding: 0;
}
