/*==============================================================================
  Title       : NavigationStyle 
  Author      : Fumito Arakawa as Phize (http://phize.net/) and Geeklog Japanese
  Description : Navigation style.
  Apply       : navbar/breadcrumbs.thtml, navbar/breadcrumb_link.thtml,
                navbar/menuitem.thtml, navbar/navbar.thtml
==============================================================================*/



/*--------------------------------------
  Breadcrumbs List
--------------------------------------*/

ul.navbar-breadcrumbs {
  list-style-position: outside;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.navbar-breadcrumbs li {
  display: inline;
}

ul.navbar-breadcrumbs li a {
  margin: 0 8px;
}



/*--------------------------------------
  Navigation

 (most styling here is adapted from jQuery UI)
--------------------------------------*/

#navcontainer {
    position: relative;
    padding: .2em;
    zoom: 1;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #a6c9e2;
    border-bottom: 1px dotted #a6c9e2;
}

#navcontainer ul {
    margin: 0;
    padding: .2em .2em 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #4297d7;
    background: #5c9ccc url('jquery_ui/images/ui-bg_gloss-wave_55_5c9ccc_500x100.png') 50% 50% repeat-x;
    color: #ffffff;
    font-weight: bold;

}

#navcontainer ul li {
    list-style: none;
    float: left;
}

#navcontainer ul li a {
    padding: 0;
    white-space: nowrap;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;

    border: 1px solid #c5dbec;
    background: #dfeffc url(images/ui-bg_glass_85_dfeffc_1x400.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #2e6e9e;

    margin: 0 .2em 1px 0;
    position: relative;
    top: 1px;

    border-bottom: 0 !important;
}

#navcontainer ul li a span {
    float: left;
    padding: .5em 1em;
    text-decoration: none;
    color: #2e6e9e;
}

#navcontainer ul li a#current {
    border: 1px solid #79b7e7;
    background: #f5f8f9 url(images/ui-bg_inset-hard_100_f5f8f9_1x100.png) 50% 50% repeat-x;
    font-weight: bold;
    padding-bottom: 1px;
    margin-bottom: 0;
    cursor: text;
}

#navcontainer ul li a#current span {
    color: #e17009;
}

#navcontainer ul li a:hover {
    border: 1px solid #79b7e7;
    background: #d0e5f5 url(images/ui-bg_glass_75_d0e5f5_1x400.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #1d5987;
}
