/* STYLESHEET FORMAT GUIDE *****************************************************

  split the following sections:
  - semantics (direct formatting for <td>, <a > etc
  - classes (.whatever)
  - common plugin CSS
  - navbar
  Within these sections, entries are to be strictly alphabetized.

  SAMPLE:
  .poll-vote,
  .poll-vote-results {
    background: transparent;
    color: #000000;
    font-size: smaller;
  }

  These are the rough rules:
  - always put a ';' after the last entry
  - always a linebreak before .
  - always a linebreak after , ; { and }
  - always a . before all classes
  - two spaces indent
  - no tabs
  - no spaces after colons
*/

/* SEMANTICS ******************************************************************/

h1, h2, h3 {
  border-bottom: 1px dotted #666;
  margin-bottom: 30px;
}

a,
a:hover {
  color: #2664a2;
}

/* For Help Page */
.help_highlight {
  background-color: #EEE;
  padding: 10px;
  border: 1px dashed #999;
}
.help_normal {
  color: #000;
  padding: 10px;
  border: 1px solid transparent;
}
.help_normal h2 {
  border-bottom: 0px !important;
}

/* For Migrate Selecting an existing backup */
#migration-select {
  display: none;
}
#migration-upload {
  display: none;
}
#migration-upload-warning {
  display: none;
}
