/* STYLESHEET FORMAT GUIDE *****************************************************

  split the following sections:
  - semantics (direct formatting for <td>, <a > etc
  - classes (.whatever)
  - common plugin CSS
  - navbar
  Within these sections, entries are to be strictly alphabetized.

  SAMPLE:
  .poll-vote,
  .poll-vote-results {
    background:transparent;
    color:#000000;
    font-size:smaller;
  }

  These are the rough rules:
  - always put a ';' after the last entry
  - always a linebreak before .
  - always a linebreak after , ; { and }
  - always a . before all classes
  - two spaces indent
  - no tabs
  - no spaces after colons
*/

/* SEMANTICS ******************************************************************/
a:link.non-ul,
a:visited.non-ul,
a:hover.non-ul,
a:active.non-ul {
  color:#000000;
  background:transparent;
  text-decoration:none;
}
a:link#install, a:visited#install { 
  color: #0000FF;
  background: transparent;
}
a:hover#install, a:active#install { 
  color: #1A3955;
  background: transparent;
} 
a:link {
  background:transparent;
  color:#0000FF;
}
a:visited {
  background:transparent;
  color: #0000FF;
}
a:hover {
  background:transparent;
  color: #0000FF;
}
a:active {
  background:transparent;
  color:#FF0000
}
body {
  width:99%;
  background:#FFFFFF;
  color:#000000;
  font:.8em arial,sans-serif,verdana,tahoma,helvetica;
  padding:0px;
  margin:0px auto;
  border-bottom:1px solid #E7E7E7;
  border-left:1px solid #E7E7E7;
  border-right:1px solid #E7E7E7;
  border-top:1px solid #E7E7E7;
  padding-left:1px;
  padding-right:1px;
  text-align:left;
}
fieldset {
  margin-bottom:1em;
}
fieldset p {
  padding:5px;
  margin:0px;
}
fieldset p {
  margin-top:5px;
  margin-bottom:0px;
}
fieldset legend {
  font-size:.9em;
}
form {
  margin-top:5px;
  margin-bottom:5px;
}
form div.notes p,
form div small {
  line-height:125%;
}

form div.notes li {
  margin-left:10px;
}
form fieldset div.notes {
  float:right;
  width:170px;
  height:auto;
  margin:0px 0px 10px 10px;
  padding:5px;
  border:1px solid #666666;
  background-color:#ffffe1;
  color:#666666;
  font-size:.75em;
}

form fieldset div.notes h4 {
  background-image:url(images/icon_info.png);
  background-repeat:no-repeat;
  background-position:top left;
  padding:3px 0px 2px 27px;
  border-width:0px 0px 1px 0px;
  border-style:solid;
  border-color:#666666;
  color:#666666;
  margin-bottom:5px;
  margin-top:0px;
  font-size:1.3em;
}

form fieldset div.notes p {
  margin:0em 0em 1.2em 0em;
  color:#666666;
}

form fieldset div.notes p.last {
  margin:0em;
  padding-bottom:5px;
}
h1 {
  font-size:125%;
  color:#000000;
}
h2 {
  font-size:100%;
}
h3 {
  font-size:100%;
  margin:0px;
}
img {
  border:0;
}
input {
  font-size:.9em;
}
input,
submit,
td {
  color:#000000;
}
textarea {
  color:#000000;
  font-family:arial,sans-serif,verdana,tahoma,helvetica;
}
th {
  color:#000000;
  background-color:#DAE0ED;
  font-weight:bold;
  font-size:larger;
  padding-left:3px;
  text-align:left;
}
p {
  margin-top:0px;
}
select {
  color:#000000;
  font-size:.9em;
}
label {
  padding: 0px;
  width: 12em;
  float: left;
  text-align: left;
  margin-top: 5px;
  display: block
}
code {
  font-size: 8pt;
}

/* Header ******************************************************************/
.header-navigation-container {
  border-bottom:1px solid #FFFFFF;
}
.header-navigation-line {
  background:#E7E7E7;
  border-bottom:1px solid #CCCCCC;
  color:#FFFFFF;
  padding-bottom:3px;
  padding-top:4px;
  text-align:right;
}
.header-navigation-line a:link {
  background:transparent;
  border-bottom:0px solid #CCCCCC;
  color:#0000FF;
  font-size:.9em;
}
.header-navigation-line a:visited {
  background:transparent;
  border-bottom:0px solid #CCCCCC;
  color:#800080;
  font-size:0.9em;
}
.header-navigation-line a:hover {
  background:transparent;
  border-bottom:0px solid #CCCCCC;
  color:#008000;
  font-size:0.9em;
}
.header-navigation-line a:active {
  background:transparent;
  border-bottom:0px solid #CCCCCC;
  color:#FF0000;
  font-size:0.9em;
}
.header-logobg-container-outer {
  background:#FFFFFF;
  padding-bottom:1px;
}
.header-logobg-container-inner {
  background:url(../layout/header-bg.png) #1A3955;
  border-bottom:1px solid #CCCCCC;
}
.header-logobg-left {
  padding-top:4px;
  text-align:left;
  vertical-align:middle;
  margin-top:11px;
  padding-left:15px;
  width:50%;
  height:78px;
}
.header-logobg-right {
  padding-top:4px;
  text-align:right;
  padding-right:15px;
  vertical-align:middle;
  width:50%;
  height:78px;
}
.site-slogan {
  color:#ffffff;
  background:transparent;
}

/* Installation ******************************************************************/
.heading {
  width: 97%;
  border-bottom: 1px dotted #666;
}
.installation-container {
  border-bottom:1px solid #FFFFFF;
}
.install-path-container-outer {
  background: #1A3955;
  border: 1px solid;
  width: 650px; 
  margin-left: auto; 
  margin-right: auto; 
  padding: 10px;
}
.install-path-container-inner {
  width: 615px; 
  margin-left: auto; 
  margin-right: auto; 
  border: 0px solid;
  color: #FFFFFF;
}
.installation-body-container {
  background:#E7E7E7;
  border-bottom:1px solid #CCCCCC;
  color:#000000;
  padding: 4px 20px 10px 50px;
  text-align:left;
}
.install-type-container-outer {
  background: #1A3955;
  border: 1px solid;
  width: 650px; 
  height: 130px;
  margin-left: auto; 
  margin-right: auto; 
  padding: 10px;
}
.install-type-container-inner {
  width: 412px; 
  margin-left: auto; 
  margin-right: auto; 
  border: 0px solid;
  color: #FFFFFF;
}
.submit input{
  padding: 0px;
  margin-left: 4.5em;
}
.install {
  position: relative; 
  width: 200px; 
  height: 55px; 
  background-color: #CCC; 
  text-align: center;
  font-size: 20pt; 
  font-family: "Verdana";
  padding-top: 20px; 
  border: 1px;
  border-color: #000; 
  border-style: dashed;
}
.upgrade {
  position: relative; 
  left: 210px; 
  top: -77px; 
  width: 200px; 
  height: 55px; 
  background-color: #CCC; 
  text-align: center; 
  font-size: 20pt; 
  font-family: "Verdana";
  padding-top: 20px; 
  border: 1px; 
  border-color: #000; 
  border-style: dashed;
}
.file-permission-list {
  padding: 0px;
  width: 30em;
  text-align: left;
  margin-top: 0px;
  display: block
}
.existing-install-retry-button {
  position: relative; 
  text-align: center;
  left: -50px;
}
.existing-install-upgrade-button {
  position: relative; 
  text-align: center; 
  top: -24px;
  left: 15px;
}

/* Misc ******************************************************************/
.error {
  color: #FF0000;
}
.codeblock  { 
  background-color:#CCC; 
  color:#000;
  width: 400px;
  height: 15px;
  overflow: auto;
  margin: 5px 0px 5px 5px;
  padding:5px;
  border: 1px dashed black;
}
.code {
  font-family: "Monaco";
  font-size: 8pt;
}