@charset "utf-8";

/*==============================================================================
  Title       : Import for admin
  Author      : Fumito Arakawa as Phize (http://phize.net/) and Geeklog Japanese
  Description : Import css for admin.
==============================================================================*/



@import url("admin/common.css");        /* Common style */
@import url("admin/block.css");         /* Block editor style */
@import url("admin/group.css");         /* Group editor style */
@import url("admin/lists.css");         /* Block editor style */
@import url("admin/moderation.css");    /* List style  */
@import url("admin/plugins.css");       /* Plugin editor style */
@import url("admin/story.css");         /* Story editor style */
@import url("admin/topic.css");         /* Topic editor style */
@import url("admin/trackback.css");     /* Trackback editor style */
@import url("admin/user.css");          /* User editor style */
@import url("admin/configuration.css"); /* Configuration editor style */
