body {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Osaka, "ＭＳ Ｐゴシック", Verdana, Arial, Helvetica, sans-serif;
}

code,
kbd,
var,
tt {
  font-family: "Hiragino Kaku Gothic", "ヒラギノ角ゴ W3", Osaka, "ＭＳ ゴシック", Verdana, Arial, Helvetica, sans-serif, monospace;
}

table {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Osaka, "ＭＳ Ｐゴシック", Verdana, Arial, Helvetica, sans-serif;
}

