body {
  margin-left: 4%;
  margin-right: 4%;
  background: white;
  color: black;
}

h1 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 195%;
}

h2 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 156%;
}

h3 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 125%;
}

code, kbd, var {
  font-family: Courier, "Courier New", monospace;
}

th {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background: black;
  color: white;
}

tr, td {
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

dt {
  font-weight: bold;
}


.usual {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
}

.menu {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 90%;
  background: #dddddd;
  color: black;
}

.footer {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 90%;
  background: #dddddd;
  color: black;
}


.comment {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 80%;
}

.codeheader		{  font-family: Courier, "Courier New", monospace; }


a:link    { color: #FF2222; background: transparent; }
a:visited { color: #FF2222; background: transparent; }
a:hover   { color: #333366; background: #AAAADD; }
a:active  { color: #FF2222; background: transparent; }

/* this is to prevent Mozilla from applying :hover on <a name="..."> */
a[name]   { color: black; background: transparent; }

