<style type="text/css">
<!--
.usual 		{  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10pt}
.menu			{  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11pt}
.sectiontitle 	{  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12pt}
.chaptertitle 	{  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14pt}
.comment		{  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8pt}

.codeheader		{  font-family: Courier, sans-serif; font-size: 12pt}
.code			{  font-family: Courier, sans-serif; font-size: 8pt}

A:link 		{ color: #FF2222; }
A:active 		{ color: #FF2222; }
A:visited 		{ color: #FF2222; }
A:hover 		{ color: #333366; background-color: #AAAADD; }

-->
</style>