@charset "utf-8";

/*==============================================================================
  Title       : Article Page Style 
  Author      : Fumito Arakawa as Phize (http://phize.net/) and Geeklog Japanese
  Description : Article page style.
  Apply       : article/article.thtml
==============================================================================*/



/*--------------------------------------
  Article Page 
--------------------------------------*/

/* Related Information  */
ul.list-whats-related {
  list-style-type: disc;
  margin: 0 0 0 8px;
  padding: 0;
}

ul.list-whats-related li {
  margin: 0;
  padding: 0;
}

/* Story Option  */
ul.list-story-options {
  list-style-type: disc;
  margin: 0 0 0 8px;
  padding: 0;
}

ul.list-story-options li {
  margin: 0;
  padding: 0;
}
