.poll-question-table {
  float:left;
  margin:5px;
}
.poll-question-table td,
.poll-question-table th{
  padding:2px;
}
.poll-topic {
  font-size:larger;
  font-weight:bold;
}
.poll-questions {
  padding:3px;
  border:1px solid #CCCCCC;
  background-color: #DDDDDD;
  margin:5px;
}