//
// Breakpoints
//

$breakpoint-small =           480px
$breakpoint-medium =          768px
$breakpoint-large =           963px
$breakpoint-xlarge =          1200px

$breakpoint-mini-max =        ($breakpoint-small  - 1)
$breakpoint-small-max =       ($breakpoint-medium - 1)
$breakpoint-medium-max =      ($breakpoint-large  - 1)
$breakpoint-large-max =       ($breakpoint-xlarge - 1)
