/*==============================================================================
  Title       : Common Style
  Author      : Fumito Arakawa as Phize (http://phize.net/) and Geeklog Japanese
  Description : For All layout
                NOTE:
                  If Overwrite all property by using type selecter,
                  HTML format submited story style will be changed. 
                Setting HTML Element:
                  h1, h2, h3, h4, h5, h6,
                  p, blockquote, pre, div, font, tt, i, em, b, strong, code, span, 
                  a, ul, ol, li, table, caption, tbody, th, tr, td,
                  img, object, embed, param, script, noscript, hr, br
  Apply       : All
==============================================================================*/



/*--------------------------------------
  Common Style
--------------------------------------*/

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.25;
}

a:link {
  color: #033987;
  text-decoration: none;
}
a:visited {
  color: #5c3566;
}
a:hover {
  text-decoration: underline;
}


/* Win IE 7 { */
*:first-child+html body {
  font-size: small;
}
/* } Win IE 7 */

/* Win IE 6 { */
* html body {
  font-size: small;
}
/* } Win IE 6 */

pre {
  overflow: auto;
}

/* Win IE 6 { */
* html pre {
  width: 95%;  /* Win IE 6(overflow property set auto: wide width max) */
}
/* } Win IE 6 */

/* Win IE 6(Font size for table) { */
table {
  border-spacing: 0;
  font-size: 100%;
}
/* } Win IE 6 { */

ul,
ol {
  list-style-position: inside;
}

fieldset {
  margin: 0 0 1em 0;
  padding: 8px;
  border: 1px solid #CCCCCC;
}

fieldset legend {
  display: inline;
  padding: 2px 4px;
}

form.basic fieldset{
 margin: 0;
 border: none;
}

form.basic legend {
 display: none;
}

img {
  vertical-align: bottom;
}

a img {
  border: none;
}

/* Mac(in Form 2 byte font display as europe fonts) { */
input,
select,
textarea {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: arial,verdana,tahoma,helvetica,sans-serif;
/*    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Osaka, "ＭＳ Ｐゴシック", Verdana, Arial, Helvetica, sans-serif;  */
}
/* } Mac */

/* Text Field */
input.text {
}

input[type="checkbox"] {
  margin: 0 0.3em;
}

/* Submit Button */
input.submit {
}

option {
  padding-{right}: 4px;  /* Firefox */
}

iframe[width="100%"] {
  width: 99%;
}

/* Basic editor */
.user_basic {
  padding: 0.5em 2em;
}


/*--------------------------------------
  Skip
--------------------------------------*/

hr.separator {
  display: none;
}

.speech {
  overflow: hidden;
  position: absolute;
  {left}: -999px;
  width: 0;
  height: 0;
}



/*--------------------------------------
  Change Languages
--------------------------------------*/

form[name="change"] select[name="lang"],
form[name="change"] select[name="lang"] option {
  width: 99%;
  font-size: 95%;
}



/*--------------------------------------
  Page navigation
--------------------------------------*/

div.pagenav {
  text-align: center;
  line-height: 1.5;
}



/*--------------------------------------
  Plugin Alert
--------------------------------------*/

.pluginAlert {
  margin-bottom: 1em;
}



/*--------------------------------------
  Basic Form
--------------------------------------*/

form.basic {
  margin: 0;
  padding: 0;
}

/* Message */
form.basic p.message {
  margin: 0 0 1em 0;
  padding: 0;
}

/* Submit Button */
form.basic ul.submit {
  margin: 0;
  padding: 0;
}

form.basic ul.submit li {
  display: inline;
  margin: 0;
  padding: 0;
}



/*--------------------------------------
  Form(2 Culumn)
--------------------------------------*/

form.compact {
  margin: 0;
  padding: 0;
}

/* Message */
form.compact p.message {
  margin: 0 0 1em 0;
  padding: 0;
}

form.compact dl {
  margin: 0 0 1em 0;
  padding: 0;
}

/* Content generated by the float clear */
form.compact dl:after {
  content: "";
  display: block;
  clear: both;
  height: 1px;
  overflow: hidden;
}

/* Win IE 6(Float Adjustment) { \*/
* html form.compact dl {
  height: 1%;
  overflow: visible;
}
/* } Win IE 6(Float Adjustment) */

form.compact dl dt {
  float: {left};
  clear: {left};
  width: 25%;
  margin: 0 0 0.5em 0;
  padding: 0;
}

form.compact dl dd {
  float: {left};
  width: 75%;
  margin: 0 0 0.5em 0;
  padding: 0;
}

/* Description */
form.compact dl dd.description {
  margin: -0.5em 0 0.5em 25%;
  padding: 0;
}

/* Win IE 6(Float left and right margin too wide) { */
* html form.compact dl dd.description {
  margin-{left}: 12.5%;
}
/* } Win IE 6 */

form.compact p.description {
  margin: 0 0 1em 0;
  padding: 0;
}

/* input textarea(JavaScript Off) */
body.js_off form.compact input.text,
body.js_off form.compact textarea {
  width: 98%;
}

/* Submit Button */
form.compact ul.submit {
  margin: 0;
  padding: 0;
}

form.compact ul.submit li {
  display: inline;
  margin: 0;
  padding: 0;
}



/*--------------------------------------
  Form(1 Column)
--------------------------------------*/

form.linear {
  margin: 0;
  padding: 0;
}

/* Message */
form.linear p.message {
  margin: 0 0 1em 0;
  padding: 0;
}

form.linear dl {
  margin: 0 0 1em 0;
  padding: 0;
}

form.linear dl dt {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

form.linear dl dd {
  margin: 0 0 0.5em 0;
  padding: 0;
}

/* Description */
form.linear dl dd.description {
  margin: -0.5em 0 0.5em 0;
  padding: 0;
}

form.linear p.description {
  margin: 0 0 1em 0;
  padding: 0;
}

/* Submit Button */
form.linear ul.submit {
  margin: 0;
  padding: 0;
}

form.linear ul.submit li {
  display: inline;
  margin: 0;
  padding: 0;
}



/*--------------------------------------
  Notes
--------------------------------------*/

form dl.notes {
  margin: 0 0 1em 0;
  padding: 8px;
  border: 1px solid #000000;
  background: #FFFFE1;
}

form dl.notes dt {
  margin: 0 0 0.5em 0;
  padding: 0 0 0 24px;
  border-bottom: 1px solid #000000;
  background: url(./images/icon_info.png) no-repeat 0 0;
  font-weight: bold;
}

form dl.notes dd {
}

form dl.notes dd ul {
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

form dl.notes dd ul li {
  margin: 0;
  padding: 0;
}



/*--------------------------------------
  List Compact
--------------------------------------*/

ul.compact {
  margin: 0;
  padding: 0;
}

ul.compact li {
  display: inline;
  margin: 0;
  padding: 0;
}



/*--------------------------------------
  Page Navigation
--------------------------------------*/
.gl-pagenav {
  text-align:center;
}

div.gl-pagenav b {
   display: inline-block;
   margin: 8px;
   padding: 8px;
   border: 1px solid #cccccc;
   line-height: 1.7;
 }
 
/* for IE6 { */
 * html div.gl-pagenav b {
   display: inline;
   zoom: 1;
 }
 /* foe IE6 } */
 
/* for IE7 { */
 *:first-child+html div.gl-pagenav b {
   display: inline;
   zoom: 1;
 }
 /* for IE7 } */
 
div.gl-pagenav a {
   display: inline-block;
   margin: 8px;
   padding: 8px;
   background: #e4ecf5;
   border: 1px solid #204a87;
   text-decoration: none;
 }
 
/* for IE6 { */
 * html div.gl-pagenav a {
   display: inline;
   zoom: 1;
 }
 /* for IE6 } */
 
/* for IE7 { */
 *:first-child+html div.gl-pagenav a {
   display: inline;
   zoom: 1;
 }
 /* for IE7 } */
 
div.gl-pagenav span {
   display: inline-block;
   padding: 8px;
   line-height: 1.7;
 }
 
/* for IE6 { */
 * html div.gl-pagenav span {
   display: inline;
   zoom: 1;
 }
 /* for IE6 } */
 
/* for IE7 { */
 *:first-child+html div.gl-pagenav span {
   display: inline;
   zoom: 1;
 }
 /* for IE7 } */
 
div.gl-pagenav span a { 
  margin: 0;
   padding: 0;
   background: transparent;
   border: none;
   text-decoration: underline;
 }
