@charset "utf-8";

/*==============================================================================
  Title       : Search Page Style 
  Author      : Fumito Arakawa as Phize (http://phize.net/) and Geeklog Japanese
  Description : Search option page  | Search result page style.
  Apply       : search/searchform.thtml, search/searchauthors.thtml,
                search/searchresults.thtml, search/searchblock.thtml,
                search/headingcolumn.thtml, search/resultcolumn.thtml, search/resultrow.thtml,
                search/resultauthdatehits.thtml, search/resultrowenhanced.thtml,
                search/resultsummary.thtml, search/resulttitle.thtml,
                search/searchresults_heading.thtml, search/searchresults_norows.thtml,
                search/searchresults_rows.thtml
==============================================================================*/



/*--------------------------------------
  Search Option Form 
--------------------------------------*/

/* Input Field(JavaScript Disabled) */
body.js_off form#advsearchform input.text,
body.js_off form#advsearchform textarea {
  width: auto;
}



/*--------------------------------------
  Search Result
--------------------------------------*/

/* Search Result Information  */
dl#searchresults-found {
  margin: 0 0 1em 0;
  padding: 0;
}

dl#searchresults-found dt {
  display: inline;
  margin: 0;
  padding: 0;
}

dl#searchresults-found dd {
  display: inline;
  margin: 0 0 0 4px;
  padding: 0;
}

/* Search Time */
dl#searchresults-found dd.search_time:before {
  content: "(";
}

dl#searchresults-found dd.search_time:after {
  content: ")";
}

/* Search Result */
table.searchblock {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

table.searchblock tr {
  margin: 0;
  padding: 0;
  background: #DAE0ED;
}

/* Odd Lines */
table.searchblock tr.resultrow1 {
  background: #D9D9D9;
}

/* Even line */
table.searchblock tr.resultrow2 {
  background: #EFEFEF;
}

table.searchblock tr th {
  margin: 0;
  padding: 2px;
  text-align: left;
}

table.searchblock tr td {
  margin: 0;
  padding: 2px;
}
