/*==============================================================================
  Title       : Submit Page Style 
  Author      : Fumito Arakawa as Phize (http://phize.net/) and Geeklog Japanese
  Description : Submit page style.
  Apply       : submit/submitstory.thtml, submit/submitstory_advanced.thtml,
                submit/submitevent.thtml, submit/submitloginrequired.thtml
==============================================================================*/



/*--------------------------------------
  Login Required Page 
--------------------------------------*/

/* Message */
p#submitloginrequired-message {
  margin: 0 0 1em 0;
  padding: 0;
}

/* Links */
ul#submitloginrequired-navi {
  display: inline;
  margin: 0;
  padding: 0;
}

ul#submitloginrequired-navi:before {
  content: "[";
}

ul#submitloginrequired-navi:after {
  content: "]";
}

ul#submitloginrequired-navi li {
  display: inline;
  margin: 0 2px;
  padding: 0;
}

ul#submitloginrequired-navi li+li {
  margin: 0 2px 0 0;
}

ul#submitloginrequired-navi li+li:before {
  content: " | ";
}



/*--------------------------------------
  Story Submit Form (Noemal Editor)
--------------------------------------*/

/* User Navigation */
form#submitstory dl dd ul.navi {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

form#submitstory dl dd ul.navi:before {
  content: "[";
}

form#submitstory dl dd ul.navi:after {
  content: "]";
}

form#submitstory dl dd ul.navi li {
  display: inline;
  margin: 0 2px;
  padding: 0;
}



/*--------------------------------------
  Story Submit Form (Advanced Editor)
--------------------------------------*/

/* User Navigation */
form#submitstory_advanced dl dd ul.navi {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 0;
}

form#submitstory_advanced dl dd ul.navi:before {
  content: "[";
}

form#submitstory_advanced dl dd ul.navi:after {
  content: "]";
}

form#submitstory_advanced dl dd ul.navi li {
  display: inline;
  margin: 0 2px;
  padding: 0;
}



/*--------------------------------------
  Event Submit Form
--------------------------------------*/
