/*==============================================================================
  Title       : Access Information Page Style 
  Author      : Fumito Arakawa as Phize (http://phize.net/) and Geeklog Japanese
  Description : Access information page style.
  Apply       : stats/itemstatistics.thtml, stats/singlestat.thtml
                stats/sitestatistics.thtml, stats/singlesummary.thtml
==============================================================================*/



/*--------------------------------------
  Access Information Page 
--------------------------------------*/

table.itemstatistics {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

table.itemstatistics tr th {
  margin: 0;
  padding: 2px;
  text-align: {left};
}

table.itemstatistics tr td {
  margin: 0;
  padding: 2px;
}
