/*==============================================================================
  Title       : Configration Style (for admin)
  Author      : Hiromi Ikeda as Jiro & Fumito Arakawa as Phize (http://phize.net/) and Geeklog Japanese
  Description : Configration style for admin.
  Apply       : admin/config/configuration.thtml, admin/config/config_element.thtml,
                admin/config/menu_element.thtml
==============================================================================*/

/*--------------------------------------
  Admin Configration
--------------------------------------*/

#geeklog_config_editor td.block-featured-left {
  width: 18%;
}


#search-configuration {
  width: 90%;
}

.block-config,
#search-configuration-container {
  margin: 0 0 0.5em;
  padding: 8px 0;
  text-align: left;
}

.block-config-content {
  padding-left: 5px;
}

.configoption {
  list-style: none outside;
  color: #999;
  margin: 0;
  padding: 0;
}

.configoption_off {
  list-style: none outside;
  color: #333;
}

.configoption a {

}

.configoption a:hover {

}

.inputTable {
  width: 100%;
  margin: 0;
  padding: 0;
}

.config_label {
  float: left;
  width: 35%;
  padding: .5em 0;
}

.restore {
  padding: .5em 0;
}

.config_input {
  float: left;
  width: 53%;
  
}

.config_name {
  clear: left;
  margin: 5px 0;
  padding: 5px;
}

.config_name input[type="text"],
.config_name textarea {
  width: 53%;
}
.config_name select {
  width: 54.5%;
  max-width: none;
}
