@charset "utf-8";

/*==============================================================================
  Title       : Group Editor Style (for admin)
  Author      : Fumito Arakawa as Phize (http://phize.net/) and Geeklog Japanese
  Description : Group editor style for admin.
  Apply       : admin/group/groupeditor.thtml, admin/group/groupmembers.thtml
==============================================================================*/



/*--------------------------------------
  Group Editor  
--------------------------------------*/

form#admin-groupeditor fieldset {
  margin: 0 0 1em 0;
}

form#admin-groupeditor fieldset.admingroup,
form#admin-groupeditor fieldset.securitygroups,
form#admin-groupeditor fieldset.rights {
  padding: 0.5em 0 0 0;
  border-top: 1px solid #CCCCCC;
}

/* Description */
form#admin-groupeditor dl dd.description {
  margin: 0 0 0.5em 0;
}

/* Permission */
form#admin-groupeditor dl dd table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

form#admin-groupeditor dl dd table tr {
  margin: 0;
  padding: 0;
}

form#admin-groupeditor dl dd table tr td {
  margin: 0;
  padding: 2px;
}



/*--------------------------------------
  Group Member
--------------------------------------*/

form#admin-groupmembers fieldset {
  padding: 8px;
  border: 1px solid #CCCCCC;
  background: #EFEFEF;
}

form#admin-groupmembers dl {
  float: left;
  width: 30%;
  margin: 0 0 1em 0;
  padding: 0;
}

form#admin-groupmembers dl dt {
  margin: 0;
  padding: 0;
  text-align: center;
}

form#admin-groupmembers dl dd {
  margin: 0;
  padding: 0;
}

form#admin-groupmembers dl dd select {
  width: 100%;
}

form#admin-groupmembers ul.move {
  list-style-position: outside;
  list-style-type: none;
  float: left;
  width: 40%;
  margin: 3.5em 0 0 0;
  padding: 0;
  text-align: center;
}

form#admin-groupmembers ul.move li {
  margin: 0 0 0.5em 0;
  padding: 0;
}

form#admin-groupmembers ul.submit {
  clear: left;
  text-align: center;
}
