
fieldset {
  padding-top: 0;
  width: auto;
}

textarea {
  overflow: auto;
}

ul, ol {
  margin-left: 45px; /* rtl */
}

pre {
  width: 95%;  /* Win IE 6(overflow property set auto: wide width max) */
}

.clearfix {
  zoom: 1;
}

/* Adjust floating element */
#wrapper {
  height: 1%;
  overflow: visible;
}

/*--------------------------------------
  Basic Form
--------------------------------------*/

.form_block {
  margin-top: 7px;
  zoom: 1;
}

.form_block input,
.form_block textarea {
  padding: 4px;
  outline: none;
  font-size: 13px;
  margin-left: 0; /* rtl */
  margin-right: 3px; /* rtl */
}

.wide {
  width: 95%;
}

.wide,
.size1,
.size2,
.size3,
.size4,
.size5,
.size6,
.size7,
.size8,
.size9,
.size10 {
  border: 1px solid #ccc;
}

/*--------------------------------------
  2 Culumn Form
--------------------------------------*/

/* Win IE 6(Float Adjustment) { \*/
.compact dl {
  height: 1%;
  overflow: visible;
}
/* } Win IE 6(Float Adjustment) */

/* Description */
.compact dd.description {
  margin-left: 23.4%; /* rtl */
}

.compact dd.description {
  margin-left: 12.5%; /* rtl */
}

.compact fieldset dd.description {
  margin-left: 25%; /* rtl */
}
.compact fieldset dd.description {
  margin-left: 12.5%; /* rtl */
}

/*--------------------------------------
  1 Column Form
--------------------------------------*/

.linear {
  clear: left; /* rtl */
}

/* Description */
.linear dd.description {
  margin: 0 0 1em 0;
  padding: 0;
}

/*--------------------------------------
  Profile Notes
--------------------------------------*/

.profile_notes {
  border: 1px solid #CCC;
}

/*--------------------------------------
  Header Container
--------------------------------------*/

/* Site Name */
.type1 .site_name {
  margin: 20px 0 0 4px; /* rtl */
}
.type2 .site_name {
  margin: 12px 0 0 8px; /* rtl */
}

/*--------------------------------------
  Gloval Navigation Container
--------------------------------------*/

#navigation_ul {
  display: block;
  border-left: 1px solid #D7D7D7; /* rtl */
  zoom: 1;
}

/*--------------------------------------
  Center Block Container
--------------------------------------*/

#centerblocks {
  float: left; /* rtl */
}

/*--------------------------------------
  System Message Block
--------------------------------------*/

/* Title */
#block-message dt {
  border: 1px solid #32567B;
}

/* Message */
#block-message dd {
  font-weight: bold;
  border-bottom: 1px solid #BEBEBE;
  border-left:   1px solid #BEBEBE;
  border-right:  1px solid #BEBEBE;
}

/*--------------------------------------
  Admin Option
  Topic Menu
  User Menu
--------------------------------------*/

#leftblocks .sideoption,
#rightblocks .sideoption {
  margin: 0;
  padding: 0;
}

/*--------------------------------------
  Search Form
--------------------------------------*/

input.search {
  border: 1px solid #ccc;
  padding: 4px;
  outline: none;
  font-size: 13px;
  margin-left: 0; /* rtl */
  margin-right: 3px; /* rtl */
  background: url(../images/search.png) left center no-repeat #FFF; /* rtl */
  padding-left: 24px; /* rtl */
  width: 120px;
  color: #222;
}

/*--------------------------------------
  Story
--------------------------------------*/

/* Container */
.storytext {
  position: relative;
}

/* Story Title */
.story_title {
  line-height: 1.3em;
  margin-bottom: 4px;
}

/* Icon(email, print, pdf) */
.story_icon {
  width: 75px;
  text-align: right; /* rtl */
}

/*--------------------------------------
  Comment Block
--------------------------------------*/

#commentbar {
  position: relative;
}

/* Comment Submit Form  */
#commentbar-comment {
  float: none;
}

#commentbar-comment div.submit {
  text-align: left; /* rtl */
}

#commentbar-selector {
  float: none;
  position: absolute;
  top: 3px;
  right: 3px; /* rtl */
  padding: 0.3em;
}
#commentbar-selector {
  padding-right: 1em; /* rtl */
}

#comment_text {
  width: 95%;
}

/*--------------------------------------
  Navigation
--------------------------------------*/

#navcontainer {
  float: none;
}

#navlist {
  margin-bottom: -8px;
  zoom: 1;
}

.label-navlist {
  white-space: nowrap;
}

.li-navlist a {
  display: inline-block;
  zoom: 1;
}

/*--------------------------------------
  Page Navigation
--------------------------------------*/

.gl-pagenav a {
  display: inline;
  zoom: 1;
}
.gl-pagenav span {
  display: inline;
  zoom: 1;
}

/*--------------------------------------
  Admin Top Menu Style
--------------------------------------*/

#admin-topmenu {
  border: 1px solid #DDD;
  overflow: auto;
}

/*--------------------------------------
  Admin Page
--------------------------------------*/

/* Table */
.admin-list-table {
  border-collapse: collapse;
}

.admin-list-table th,
.admin-list-table td {
  border-bottom: 1px solid #FFF;
  border-right: 1px solid #FFF; /* rtl */
}

/* Permission */
.admin-list-smalltable {
  border-collapse: collapse;
}

.admin-list-smalltable th,
.admin-list-smalltable td {
  border-bottom: 1px solid #FFF;
  border-right: 1px solid #FFF; /* rtl */
}

.search-part {
  display: inline;
  white-space: normal;
}

/*--------------------------------------
  Permission Style
--------------------------------------*/

#admin-permissions {
  border-collapse: collapse;
}

#admin-permissions th,
#admin-permissions td {
  border-bottom: 1px solid #FFF;
  border-right: 1px solid #FFF; /* rtl */
}

/*--------------------------------------
  Moderation Page
--------------------------------------*/

#admin-moderation:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

#admin-moderation {
  overflow: auto;
  width: 100%;
}

#admin-moderation li {
  width: 12.48%;
}

/*--------------------------------------
  Article Page
--------------------------------------*/

/* Article Related Block */
.block-related {
  width: 49.5%;
}

/*--------------------------------------
  My Account Page
--------------------------------------*/

#exclude_topic .checkboxes-list li,
#boxesblock .checkboxes-list li {
  display: inline;
  margin-right: 0.5em; /* rtl */
}

/*--------------------------------------
  Profile
--------------------------------------*/

#profile-userprofile dd {
  width: auto;
  float: none;
}

/*--------------------------------------
  Admin Top Menu Style
--------------------------------------*/

#instructions p {
  margin: 0 0 5px 0;
  line-height: 1.25;
}

/*--------------------------------------
  Story Editor
--------------------------------------*/

#text_editor dd.description {
  margin-left: 7.5%; /* rtl */
}

#admin-storyeditor-introtext,
#admin-storyeditor-bodytext {
  width: 95%;
}

/*--------------------------------------
  Trackback
--------------------------------------*/

.block-trackback-content p {
  margin: 0 0 1em 0;
}

/*--------------------------------------
  Admin Configration
--------------------------------------*/

.block-config-content {
  margin-left: 0;
}

.configoption a:link,
.configoption a:visited,
.configoption a:hover {
  color: #222222;
  text-decoration: none;
}

#search-configuration,
.opt {
  border: 1px solid #ccc;
  padding: 4px;
  outline: none;
  font-size: 13px;
  margin-left: 5px; /* rtl */
  margin-right: 3px; /* rtl */
}

input.opt,
textarea.opt {
  width: 53%;
}

select.opt {
  width: 54%;
}

.toggle_hidden,
.del-link {
  width: 25px;
}

/*--------------------------------------
  Polls Plugin
--------------------------------------*/

#leftblocks .poll-questions ul,
#rightblocks .poll-questions ul {
  margin-left: -20px; /* rtl */
}

/* Smaller than standard 1280 (devices and browsers) */
@media only screen and (max-width: 1192px) { 

	/*--------------------------------------
	   Center Block Container
	--------------------------------------*/

	body.left-center-right #main-content,
	body.left-center #main-content,
	body.center-right #main-content {
	  width: 659px;  /* Center Block Width = [W] - [L] - [R] - Right Padding - Left Padding - 1 */
	}

	/*--------------------------------------
	  Moderation Page
	--------------------------------------*/

	#admin-moderation li {
	  width: 16.61%;
	}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 979px) {

	/*--------------------------------------
	   Center Block Container
	--------------------------------------*/

	body.left-center-right #main-content,
	body.left-center #main-content,
	body.center-right #main-content {
	  width: 527px; /* Center Block Width = [W] - [L] - [R] - Right Padding - Left Padding - 1 */
	}

	/*--------------------------------------
	  Moderation Page
	--------------------------------------*/

	#admin-moderation li {
	  width: 19.98%;
	}
}

@media only screen and (max-width: 979px) {

	/*--------------------------------------
	  2 Culumn Form
	--------------------------------------*/

	.compact fieldset dd.description,
	fieldset .compact dd.description {
	  margin-left: 0; /* rtl */
	}

	/*--------------------------------------
	  Admin Configration
	--------------------------------------*/

	.configoption {
	  display: inline;
	  zoom: 1;
	}

	.configoption_off {
	  display: inline;
	  zoom: 1;
	}

	.configoption a {
	  display: inline;
	  zoom: 1;
	}

	ul.block-config-content {
	  margin-left: 0; /* rtl */
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

	/*--------------------------------------
	   Center Block Container
	--------------------------------------*/

	body.left-center-right #main-content,
	body.left-center #main-content,
	body.center-right #main-content {
	  width: 100%;
	  padding: 0;
	}

	/*--------------------------------------
	  Moderation Page
	--------------------------------------*/

	#admin-moderation li {
	  width: 24.94%;
	}

	/*--------------------------------------
	  Header Container
	--------------------------------------*/

	/*  Site Name */
	.type1 .site_name {
	  margin: 6px 0 0 4px; /* rtl */
	}

	/*--------------------------------------
	  Left And Right Block
	--------------------------------------*/

	#config_menu .block-title {
	  margin-left: 0;
	  margin-right: 0;
	}

	#search-configuration-container label {
	  margin-left: 0;
	  margin-right: 0;
	}

	/*--------------------------------------
	  Gloval Navigation Container
	--------------------------------------*/

	#navigation_ul {
	  display: none;
	}

	/*--------------------------------------
	  Admin Configration
	--------------------------------------*/

	input.opt,
	textarea.opt {
	  width: 98%;
	}

	select.opt {
	  width: 99%;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

	/*--------------------------------------
	  Moderation Page
	--------------------------------------*/

	#admin-moderation li {
	  width: 33.24%;
	}
}

