/*==============================================================================
  Title       : Account Information Page Templates
  Authors     : Fumito Arakawa as Phize (http://phize.net/) and Geeklog Japanese
                Rouslan Placella rouslan@placella.com
  Description : Account information page style.
  Apply       : users/profile.thtml, users/commentrow.thtml, users/storyrow.thtml,
                users/loginform.thtml, users/registrationform.thtml,
                users/getpasswordform.thtml, users/newpassword.thtml,
                users/services.thtml
==============================================================================*/



/*--------------------------------------
  User Login Form
--------------------------------------*/

div.login-wrapper {
  width: 50%;
  margin: auto;
}

div.login-wrapper.remote-login-enabled {
  width: 95%;
  margin: auto;
}

div.standard-login-panel {
  width: 100%;
}

div.remote-login-panel {
  display: none;
}

div.standard-login-panel.remote-login-enabled,
div.remote-login-panel.remote-login-enabled {
  display: block;
  width: 47%;
  margin-{left}:2%;
  float: {left};
}

div.remote-login-panel p.message {
  margin: 0 0 1em;
}

div.remote-login-panel div.wrapper{
  width: 164px;
  margin: auto;
}

div.standard-login-panel label {
  margin: 0 1em;
  float: {right};
  line-height: 1.8em;
}

div.standard-login-panel input,
div.standard-login-panel select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: {right};
  height: 1.8em;
}

div.standard-login-panel input.submit {
  height: 28px;
  font-size: 12px;
}

/* Form Option Menu */
div.standard-login-panel ul.navi {
  list-style-position: outside;
  list-style-type: none;
  margin: 1em 0 0;
  padding: 0;
}

div.standard-login-panel ul.navi li {
  margin: 0;
  padding: 0;
  text-align: center;
}



/*--------------------------------------
  Password Reminder Form 
--------------------------------------*/




/*--------------------------------------
  æ–°Password Setting Form 
--------------------------------------*/




/*--------------------------------------
  Registration Form 
--------------------------------------*/




/*--------------------------------------
  Profile
--------------------------------------*/

/* Account Information  */
dl#profile-userprofile {
  overflow: hidden;  /* Adjust floating element */
  margin: 0;
  padding: 0;
}

/* Content generated by the float clear */
dl#profile-userprofile:after {
  content: "";
  display: block;
  clear: both;
  height: 1px;
  overflow: hidden;
}

/* Win IE 6(Adjust floating element) \*/
* html dl#profile-userprofile {
  height: 1%;
  overflow: visible;
}
/* Win IE 6(Adjust floating element) */

dl#profile-userprofile dt {
  float: {left};
  clear: {left};
  width: 25%;
  margin: 0 0 0.5em 0;
  padding: 0;
}

dl#profile-userprofile dd {
  float: {left};
  width: 75%;
  margin: 0 0 0.5em 0;
  padding: 0;
}

/* Photo */
dl#profile-userprofile dd#profile-user_photo {
  float: none;
  width: auto;
  margin-{left}: 25%;
  padding: 8px;
}

/* Recent Submit  */
p.storyrow {
  margin: 0;
  padding: 0;
}

p.storyrow a {
  margin: 0 8px 0 0;
  padding: 0;
}

/* User Recent Comment  */
p.commentrow {
  margin: 0;
  padding: 0;
}

p.commentrow a {
  margin: 0 8px 0 0;
  padding: 0;
}

/* Submit Story  | Comment Total */
dl#profile-postingstats {
  margin: 0;
  padding: 0;
}

dl#profile-postingstats dt {
  float: {left};
  clear: {left};
  width: 25%;
  margin: 0 0 0.5em 0;
  padding: 0;
}

dl#profile-postingstats dd {
  float: {left};
  width: 75%;
  margin: 0 0 0.5em 0;
  padding: 0;
}

/* User All Submit Search Link */
ul#profile-all_postings_by {
  list-style-position: outside;
  list-style-type: none;
  clear: {left};
  margin: 0;
  padding: 1em 0 0 0;
}

ul#profile-all_postings_by li {
  margin: 0;
  padding: 0;
}
