//
// Breakpoints
//

$breakpoint-small =           640px
$breakpoint-medium =          960px
$breakpoint-large =           1200px
$breakpoint-xlarge =          1600px

$breakpoint-mini-max =        ($breakpoint-small  - 1)
$breakpoint-small-max =       ($breakpoint-medium - 1)
$breakpoint-medium-max =      ($breakpoint-large  - 1)
$breakpoint-large-max =       ($breakpoint-xlarge - 1)
