
#dropline_menu_container {
    height: 58px;
    width: 100%;
    margin: 0px auto;
    position: relative;
    background-color: #5E6D73;
    padding-left:1px;
}

/* The Menu */

#dropline_menu {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    height: 58px;
    width: 100%;
    font: bold 11px "Lucida Sans", Lucida, Verdana, sans-serif;
}

/* All lists must float */

#dropline_menu ul {
    margin: 0;
    padding: 0;
    float: left;
}

/* Hide 3rd Level */
#dropline_menu ul ul ul {
    left: -20000px;
}

/* All list-items must obey parent selector */

#dropline_menu li {
    padding: 0;
    margin: 0;
    float: left;
    display: block;
}


/* Second level lists hide by default */

#dropline_menu li ul {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top:29px;
    height: 28px;
    overflow:hidden;
    left: 0;
    width:100%;
}

/* IE needs to know we are on a computer */

#dropline_menu a {
    text-decoration: none;
    cursor: pointer;
}

/* Underline all sublevel hover a.links */

#dropline_menu li ul a:hover,
#dropline_menu li.active ul a:hover {
    text-decoration: underline;
}

/* Underline all sublevel active a.links */

#dropline_menu li li.active a,
#dropline_menu li li.active:hover a,
#dropline_menu li li.sfhover.active a {
     text-decoration: underline;
}


/* Keeps sublevel persistant */

#dropline_menu li.active ul {
    display: block;
}

/* Makes sure sublevels stay on top */

#dropline_menu li:hover ul, #dropline_menu li.sfhover ul {
    display: block;
    z-index: 6000;
}

/* Top level a.links (sizes only) */

#dropline_menu li a {
    display: block;
    float: left;
    padding: 0 15px;
    height: 29px;
    line-height: 29px;
    /*_line-height: 27px;*/
}

/* Second level a.links */

#dropline_menu li ul a, #dropline_menu li.active ul a {
    display: block;
    float: left;
    font-weight: normal;
    padding: 0 10px;
    background: none;
    height: 24px;
    line-height: 24px;
}

/* First level list-items */

#dropline_menu ul li {
    background: url(images/droplinemenu/menu_normal.png) no-repeat left top;
    margin-right: 1px;
    border-right: 1px solid #869A9F;
}
/* First level list-items (hover) */

#dropline_menu ul li:hover,
#dropline_menu ul li.sfhover
 {
    background: url(images/droplinemenu/menu_over.png) no-repeat left top;
}

/* First level normal a.link */

#dropline_menu ul li a {
    color: #fff;
}

/* Second level normal a.link */


#dropline_menu ul li:hover ul,
#dropline_menu li:hover a:link,
#dropline_menu li:hover a:visited,
#dropline_menu li.sfhover a:link,
#dropline_menu li.sfhover a:visited {
    color: #3d3d3d;
}

#dropline_menu ul li ul,
#dropline_menu ul li.active a:link,
#dropline_menu ul li.active a:visited,
#dropline_menu ul li.active ul:hover,
#dropline_menu ul li.active:hover ul,
#dropline_menu ul li.active ul.sfhover,
#dropline_menu ul li.active.sfhover ul {
    background:#C9CFD3;
    color: #fff;
}

#dropline_menu ul li.active a:link,
#dropline_menu ul li.active a:visited,
#dropline_menu ul li.active ul.sfhover
 {
    background-color: #3d3d3d;
    background: url(images/droplinemenu/menu_active.png) no-repeat left top;
    color: #3d3d3d;
}
#dropline_menu li.active li a:link,
#dropline_menu li.active li a:visited,
#dropline_menu li.active li a:hover,
#dropline_menu li:hover ul li a:link,
#dropline_menu li:hover ul li a:visited,
#dropline_menu li:hover ul li a:hover,
#dropline_menu li.sfhover ul li a:link,
#dropline_menu li.sfhover ul li a:visited,
#dropline_menu li.sfhover ul li a:hover,
#dropline_menu li li a:link,
#dropline_menu li li a:visited,
#dropline_menu li li a:hover
{
    background: #C9CFD3 url(images/droplinemenu/sublevel_divider.png) no-repeat 100% 60%;
    border: none;
    background-color: #C9CFD3;
    padding: 1px 5px;
    color: #333;

}
#dropline_menu ul li.active ul li,
#dropline_menu ul li ul li
{
    border: none;
}

