a:link.non-ul {
  color:#000000;
  background: transparent;
  text-decoration: none;
}
a:visited.non-ul {
  color:#000000;
  background: transparent;
  text-decoration: none;
}
a:hover.non-ul {
  color:#000000;
  background: transparent;
  text-decoration: none;
}
a:active.non-ul {
  color:#000000;
  background: transparent;
  text-decoration: none;
}
a:link {
  background:transparent;
  color:#0000FF
}
a:visited {
  background:transparent;
  color:#800080
}
a:hover {
  background:transparent;
  color:#008000
}
a:active {
  background:transparent;
  color:#FF0000
}
.sitebody {
  background:#FFFFFF;
  color:#000000;
  font:100% tahoma,verdana,helvetica,arial,sans-serif;
  padding:0px;
  margin:0px;
  /*
    scrollbar-3dlight-color:#D1D7DC;
    scrollbar-arrow-color:#006699;
    scrollbar-darkshadow-color:#98AAB1;
    scrollbar-face-color:#DEE3E7;
    scrollbar-highlight-color:#FFFFFF;
    scrollbar-shadow-color:#DEE3E7;
    scrollbar-track-color:#EFEFEF;
  */
}
fieldset {
  margin-bottom: 1ex;
}
fieldset p {
  padding:5px;
  margin:0px;
}

h1 {
  font-size: 125%;
}
h2 {
  font-size: 100%;
}
img {
  border: 0;
}
input, submit {
  color:#000000;
  font:82% Tahoma,verdana,helvetica,arial,sans-serif;
}
select {
  color:#000000;
  font:82% Tahoma,verdana,helvetica,arial,sans-serif;
}
td {
  color:#000000;
  font:73% Tahoma,verdana,helvetica,arial,sans-serif;
}
textarea {
  color:#000000;
  font:100% Tahoma,verdana,helvetica,arial,sans-serif;
}
th {
  color:#000000;
  background-color: #DAE0ED;
  font:bold smaller Tahoma,verdana,helvetica,arial,sans-serif;
  padding-left:3px;
}
.admin-list-table {
  width:100%;
  text-align:left;
  border-spacing:1px;
}
.admin-list-table form {
  margin:0px;
}
.admin-list-field {
  text-align:left;
  padding-left:5px;
  padding-right:5px;
}
.admin-list-headerfield {
  text-align:left;
  padding-left:5px;
  padding-right:5px;
}
.block-divider {
  background:#FFFFFF;  
  border-bottom:1px solid #F7F7F7; 
  border-top:1px solid #E7E7E7; 
  color:#000000; 
  padding-top:2px;
}
.block-divider-left {
  border-top: 1px solid #E7E7E7;
  border-bottom: 1px solid #FFFFFF;
  width: 90%;
  margin: 0 auto;
  line-height:0;
}
.block-divider-right {
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #FFFFFF;
  width: 90%;
  margin: 0 auto;
  line-height:0;
}
.block-featured-left {
  background:#F7F7F7;
  border-right:1px solid #FFFFFF;
  color:#000000;
  font:100% Tahoma,verdana,helvetica,arial,sans-serif;
}
.block-featured-right {
  background:#E7E7E7;
  border-left:1px solid #FFFFFF;
  color:#000000;
  font:100% Tahoma,verdana,helvetica,arial,sans-serif;
}
.block-box-left {
  margin:10px;
}
.block-box-right {
  margin:10px;
}
.block-hightopborder-left {
  border-top:1px solid #FFFFFF;
}
.block-info {
  background:transparent;
  color:#000000;
  font:75% Tahoma,verdana,helvetica,arial,sans-serif;
}
.block-content-left {
  background:transparent;
  color:#000000;
  font:110% Tahoma,verdana,helvetica,arial,sans-serif;
  padding-bottom:2px;
  padding-top:2px;
  clear:both;
}
.block-content-left ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 16px;
  padding-left: 0;
  border: none;
}
.block-content-right {
  background:transparent;
  color:#000000;
  font:110% Tahoma,verdana,helvetica,arial,sans-serif;
  padding-bottom:2px;
  padding-top:2px;
  clear:both;
}
.block-content-right ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 16px;
  padding-left: 0;
  border: none;
  clear:both;
}

.block-outerborder-left {
  border-left:1px solid #E7E7E7;
}
.block-outerborder-right {
  border-right:1px solid #CCCCCC;
}
.block-title,blocktitle {
  background:transparent;
  color:#1A3955;
  font:bold smaller Tahoma,verdana,helvetica,arial,sans-serif;
  padding-top:13px;
}
.block-title-left {
  background:transparent;
  color:#1A3955;
  font:110% Tahoma,verdana,helvetica,arial,sans-serif;
  font-weight:bold;
  height:22px;
  text-align:left;
  float:left;
}
.block-title-right {
  background:transparent;
  color:#1A3955;
  font:110% Tahoma,verdana,helvetica,arial,sans-serif;
  font-weight:bold;
  height:22px;
  text-align:left;
  float:left;
}
.block-helpicon-left {
  padding-top:3px;
  text-align:right;
}
.block-helpicon-right {
  padding-top:3px;
  text-align:right;
}
.block-vote {
  background:transparent;
  color:#000000;
  font:90% Tahoma,verdana,helvetica,arial,sans-serif;
}
.block-vote-results {
  background:transparent;
  color:#000000;
  font:90% Tahoma,verdana,helvetica,arial,sans-serif;
}
.cal-body {
  background:#FFFFFF;
  border-bottom:#E7E7E7 1px solid;
  border-left:#E7E7E7 1px solid;
  border-right:#E7E7E7 1px solid;
  border-top:#E7E7E7 1px solid;
  color:#000000;
  font:bold 150% Tahoma,verdana,helvetica,arial,sans-serif
}
.cal-day,cal_day {
  background:transparent;
  border-bottom:#F7F7F7 1px dashed;
  border-left:#F7F7F7 1px dashed;
  border-top:#1A3955 2px solid;
  color:#000000;
  font:bold 75% Tahoma,verdana,helvetica,arial,sans-serif;
}
.cal-dayview-times {
  background:#F7F7F7;
  border-bottom:#E7E7E7 1px solid;
  border-left:#E7E7E7 1px solid;
  border-right:#E7E7E7 1px solid;
  border-top:#1A3955 1px dashed;
  color:#000000;
  font:bold 80% Tahoma,verdana,helvetica,arial,sans-serif;
}
.cal-dayx-body {
  background:#E7E7E7
}
.cal-dayx-cur {
  background:#FFFFFF;
  color:#000000;
  font:bold 80% Tahoma,verdana,helvetica,arial,sans-serif;
}
.cal-dayx-subcur {
  background:#FFFFFF;
  color:#000000;
  font:bold 80% Tahoma,verdana,helvetica,arial,sans-serif;
  padding-top:4px;
}
.cal-dayx-times {
  border-bottom:#FFFFFF 1px solid;
  border-left:#FFFFFF 1px solid;
  border-right:#FFFFFF 1px solid;
}
.cal-dayx-times2 {
  background:#FFFFFF
}
.cal-dayx-weekevent {
  border-bottom:#FFFFFF 1px solid;
  border-left:#FFFFFF 1px dashed;
  border-right:#FFFFFF 1px dashed;
  border-top:#E7E7E7 1px solid;
}
.cal-futureday {
  background:#F7F7F7
}
.cal-header {
  background:#FFFFFF;
  border-bottom:#F7F7F7 1px solid;
  border-left:#F7F7F7 1px solid;
  border-right:#F7F7F7 1px solid;
  border-top:#F7F7F7 1px solid;
}
.cal-hr {
  background:#FFFFFF
}
.cal-month,cal_month {
  background:#F7F7F7;
  color:#000000;
}
.cal-nullday {
  background:#FFFFFF;
  border-bottom:#F7F7F7 1px dashed;
  border-left:#F7F7F7 1px dashed;
  border-top:#F7F7F7 1px dashed;
  color:#000000;
}
.cal-oldday {
  background:#E7E7E7;
  color:#000000;
}
.cal-quickadd,quickadd {
  background:#F7F7F7;
  border-bottom:#E7E7E7 1px solid;
  border-left:#E7E7E7 1px solid;
  border-right:#E7E7E7 1px solid;
  border-top:#E7E7E7 1px solid;
  padding:4px;
}
.cal-today {
  background:#FFFFFF;
  border-bottom:#1A3955 1px dashed;
  border-left:#1A3955 1px dashed;
  border-right:#1A3955 1px dashed;
  border-top:#1A3955 1px dashed;
}
.cal-weekpointers {
  border-bottom:#F7F7F7 1px dashed;
  border-left:#F7F7F7 1px dashed;
}
.cal-weekview-addevent {
  background:#FFFFFF;
  border-right:#E7E7E7 1px solid;
  border-top:#E7E7E7 1px solid;
  color:#000000;
  font:bold 80% Tahoma,verdana,helvetica,arial,sans-serif;
  padding:4px;
}
.cal-weekview-caltitle {
  background:#FFFFFF;
  border-bottom:#E7E7E7 1px solid;
  border-left:#E7E7E7 1px solid;
  border-right:#E7E7E7 1px solid;
  color:#000000;
  font:bold 80% Tahoma,verdana,helvetica,arial,sans-serif;
  padding:4px;
}
.cal-weekview-curday,weekview_curday {
  background:#F7F7F7;
  color:#000000;
}
.cal-weekview-daterange {
  background:#FFFFFF;
  border-left:#E7E7E7 1px solid;
  border-right:#E7E7E7 1px solid;
  border-top:#E7E7E7 1px solid;
  color:#000000;
  font:bold 80% Tahoma,verdana,helvetica,arial,sans-serif;
  padding:4px;
}
.cal-weekview-dayformat {
  background:#FFFFFF;
  border-left:#E7E7E7 1px solid;
  border-top:#E7E7E7 1px solid;
  color:#000000;
  font:bold 80% Tahoma,verdana,helvetica,arial,sans-serif;
  padding:4px;
}
.cal-weekview-offday,weekview_offday {
  background:transparent;
  color:#000000;
}
.commentbar-line1 {
  background:transparent;
  color:#000000;
  font:Tahoma,verdana,helvetica,arial,sans-serif;
  padding:3px 3px;
  text-align:center;
}
.commentbar-line2 {
  background:#E7E7E7;
  border-bottom:1px solid #FFFFFF;
  border-top:1px solid #FFFFFF;
  font:Tahoma,verdana,helvetica,arial,sans-serif;
  text-align:center;
}
.commentbar-line3 {
  background:#FFFFFF;
  border-bottom:1px solid #FFFFFF;
  border-top:1px solid #E7E7E7;
  color:#000000;
  font:Tahoma,verdana,helvetica,arial,sans-serif;
  padding:3px 3px;
  text-align:center;
}

.commenttitle {
  background:#F7F7F7;
  border-bottom:1px solid #E7E7E7;
  border-left:1px solid #E7E7E7;
  border-right:1px solid #E7E7E7;
  border-top:1px solid #E7E7E7;
  font:bold smaller Tahoma,verdana,helvetica,arial,sans-serif;
  padding:3px 0px 3px 10px;
}
.edit-perm-down {
  text-align:center;
}
.edit-perm-up{
  text-align:center;
  padding-right:10px;
  padding-left:10px;
}
.footerblock {
  background:#1A3955;
  border-top:1px solid #CCCCCC;
  color:#FFFFFF;
  font:70% Tahoma,verdana,helvetica,arial,sans-serif;
  padding-bottom:10px;
  padding-top:10px;
  padding-left: 4px;
  padding-right: 4px;
}
.footerblock a:link {
  background:transparent;
  color:#FFFFFF;
  font:100% Tahoma,verdana,helvetica,arial,sans-serif;
  text-decoration:none;
}
.footerblock a:visited {
  background:transparent;
  color:#FFFFFF;
  font:100% Tahoma,verdana,helvetica,arial,sans-serif;
  text-decoration:none;
}
.footerblock a:hover {
  background:transparent;
  color:#008000;
  font:100% Tahoma,verdana,helvetica,arial,sans-serif;
  text-decoration:none;
}
.footerblock a:active {
  background:transparent;
  color:#FFFFFF;
  font:100% Tahoma,verdana,helvetica,arial,sans-serif;
  text-decoration:none;
}
.footer-divider-top {
  background:#FFFFFF;
  border-top:1px solid #CCCCCC;
  padding-top:1px;
  color:#000000;
}
.header-envelope {
  border-bottom:1px solid #E7E7E7;
  border-left:1px solid #E7E7E7;
  border-right:1px solid #E7E7E7;
  border-top:1px solid #E7E7E7;
  padding-left:1px;
  padding-right:1px;
}
.header-logobg {
  padding-top:4px;
}
.header-logobg-container-inner {
  background:#FFFFFF;
  background:url(images/header-bg.png) #1A3955;
  border-bottom:1px solid #CCCCCC;
}
.header-logobg-container-outer {
  background:#FFFFFF;
  padding-bottom:1px;
}
.header-navigation-container {
  border-bottom:1px solid #FFFFFF;
}
.header-navigation-line {
  background:#E7E7E7;
  border-bottom:1px solid #CCCCCC;
  color:#FFFFFF;
  font:100% Tahoma,verdana,helvetica,arial,sans-serif;
  padding-bottom:3px;
  padding-top:4px;
  text-align:right;
}
.header-navigation-line a:link {
  background:transparent;
  border-bottom:0px solid #CCCCCC;
  color:#0000FF;
  font:92% Tahoma,verdana,helvetica,arial,sans-serif;
}
.header-navigation-line a:visited {
  background:transparent;
  border-bottom:0px solid #CCCCCC;
  color:#800080;
  font:92% Tahoma,verdana,helvetica,arial,sans-serif;
}
.header-navigation-line a:hover {
  background:transparent;
  border-bottom:0px solid #CCCCCC;
  color:#008000;
  font:92% Tahoma,verdana,helvetica,arial,sans-serif;
}
.header-navigation-line a:active {
  background:transparent;
  border-bottom:0px solid #CCCCCC;
  color:#FF0000;
  font:92% Tahoma,verdana,helvetica,arial,sans-serif;
}
.header-welcomeanddate-box {
  border-bottom:1px solid #CCCCCC;
  height:52px;
}
.header-welcomeanddate-text {
  position:relative;
  top:12px;
  left:4px;
}

.highlight {
  color: #000000;
  background-color: yellow;
  text-decoration: none;
}
.pagenav {
  text-align: center;
}
.row-even {
  background-color: #E7E7E7;
}
.row-odd {
  background-color: #FFFFFF;
}
.searchauth {
  background:transparent;
  color:#000000;
  font:100% Tahoma,verdana,helvetica,arial,sans-serif;
  text-align:left;
}
.searchdate {
  background:transparent;
  color:#000000;
  font:100% Tahoma,verdana,helvetica,arial,sans-serif;
  text-align:right;
}
.searchform-box {
  background:#E7E7E7;
  text-align:right;
  border-bottom:1px solid #CCCCCC;
  height:52px;
  padding:0px 4px 0px 0px;
  margin:0px;
  font:73% Tahoma,verdana,helvetica,arial,sans-serif;
}
.searchform-elements{
  display:inline;
  position:relative;
  top:6px;
}
.searchform-elements input{
  font:83% Tahoma,verdana,helvetica,arial,sans-serif;
}
.searchhits {
  background:transparent;
  color:#000000;
  font:100% Tahoma,verdana,helvetica,arial,sans-serif;
  text-align:right;
}
.site-slogan {
  color:#ffffff;
  background:transparent;
}
.smallcal-week-even {
  background:#E7E7E7;
  color:#000000;
}
.stats-list-count {
  text-align:right;
  padding-left:5px;
  padding-right:5px;
}
.stats-header-title {
  text-align:left;
  width:90%;
  padding-left:5px;
  padding-right:5px;
}
.stats-header-count {
  text-align:left;
  width:10%;
  padding-left:5px;
  padding-right:5px;
}
.story-box {
  background:transparent;
  color:#000000;
  font:100% Tahoma,verdana,helvetica,arial,sans-serif;
}
.story-byline,storybyline {
  background:transparent;
  color:#000000;
  font:90% Tahoma,verdana,helvetica,arial,sans-serif;
}
.story-container {
  padding-right:9px;
}
.story-information {
  background:transparent;
  color:#000000;
  font:70% Tahoma,verdana,helvetica,arial,sans-serif;
}
.story-title {
  background:transparent;
  color:#000000;
  font:bold 110% Tahoma,verdana,helvetica,arial,sans-serif;
  padding-left:1px;
  padding-top:15px;
}
.story-title-featured {
  background:transparent;
  color:#000000;
  font:bold 110% Tahoma,verdana,helvetica,arial,sans-serif;
  padding-left:1px;
  padding-top:15px;
}
.topicoption, topicoption-off {

}
.warning {
  background:transparent;
  color:#FF0000;
  font:bold 100% Tahoma,verdana,helvetica,arial,sans-serif;
}
.warningsmall {
  background:transparent;
  color:#FF0000;
  font:100% Tahoma,verdana,helvetica,arial,sans-serif;
}
.xpinputfield {
  border:1px solid #7B9EBD;
}

fieldset p { margin-top:5px; margin-bottom:0px; }

form fieldset div.notes {
  float: right;
  width: 170px;
  height: auto;
  margin: 0px 0px 10px 10px;
  padding: 5px;
  border: 1px solid #666666;
  background-color: #ffffe1;
  color: #666666;
  font-size: 88%;
}

form fieldset div.notes h4 {
  background-image: url(images/icon_info.gif);
  background-repeat: no-repeat;
  background-position: top left;
  padding: 3px 0px 2px 27px;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #666666;
  color: #666666;
  font-size: 110%;
  margin-bottom:5px;
  margin-top:0px;
}

form fieldset div.notes p {
  margin: 0em 0em 1.2em 0em;
  color: #666666;
}

form fieldset div.notes p.last {
  margin: 0em;
  padding-bottom:5px;
}
form div.notes p, form div small {
  line-height: 125%;
}

.inputTable td {padding:4px; vertical-align:top}
.inputTable  label {font-weight:bold; float:right; white-space:nowrap}


/* Default Plugin CSS Declarations */
/* Recommended CSS to be used by Plugin Authors - allows easier site themeing */

.plugin                { color: #000; background-color: #EFEFEF; font-weight: normal; font-size: 12pt; font-family: Verdana, sans-serif; border:1px solid #CCC; }
.plugin th             { color: #000; font-size: .9em; background-color: #B7C1DC; padding:5px; text-align:left;}
.plugin tr             { vertical-align:top; }
.plugin td             { padding:2px 5px 2px 5px; }
.pluginBG              { background-color: #EFEFEF; }
.pluginAltBG           { background-color: #1C1E2D; }
.pluginTitle           { color: #1C1E2D; background-color:#EFEFEF; font-weight: bold; font-size: 85%; font-family: Verdana, sans-serif; }
.pluginHeader          { color: #1A3955; font-weight: bolder; font-size: 95%; background-color: #CCC; padding:5px; }
.pluginFooter          { background-color:#EFEFEF; }
.pluginAlert           { padding:5px 15px 5px 15px; color:#D8010E; background-color: #FEF1B4; font-weight:bold;}
.pluginInfo            { padding:5px 15px 5px 15px; color:#707070; background-color: #FEF1B4; font-size: 8pt; font-weight:normal;}
.pluginSubTable        { color: #000; background-color: #CCC; font-weight: normal; font-size: 12pt; font-family: Verdana, sans-serif; border:1px solid #CCC; }
.pluginSubTable th     { color: #000; font-size: .7em; background-color: #C9D1E4; padding:5px; text-align:left;}
.pluginSubTable tr     { vertical-align:top; }
.pluginSolidOutline    { background-color: #396998; }
.pluginSolidFill       { background-color: #1A3955; }
.pluginCellTitle       { color: #1C1E2D; font-weight: bold; font-size: 80%; font-family: Verdana, sans-serif; background-color: #E5E5EA; }
.pluginCellFill        { background-color: #E5E5EA; }
.pluginCellText        { color: #000; font-weight: normal; font-size: 75%; font-family: Verdana, sans-serif; background-color: #F7F7F7; }
.pluginTinyText        { font-size:70%; }
.pluginSmallText       { font-size:80%; }
.pluginMediumText      { font-size:85%; }
.pluginLargeText       { font-size:90%; }
.pluginAltText         { color: #FFF; }

.pluginRow1 td         { background-color: #EFEFEF; }
.pluginRow2 td         { background-color: #D9D9D9; }

.pluginRollOver         { color: #1C1E2D; background-color: #FFFF8F; }
.pluginRollOut          { color: #1C1E2D; background-color: #F7F7F7; }

.pluginLinks A:link     { color: #0000FF; font-style: normal; font-weight: normal; text-decoration: none; }
.pluginLinks A:visited  { color: #1E1E8E; font-style: normal; font-weight: normal; text-decoration: none; }
.pluginLinks A:hover    { color: #0000FF; font-style: normal; font-weight: normal; text-decoration: underline; }
.pluginBreadCrumbs, .pluginBreadCrumbs A:link     { color: #EFEFEF; font-style: normal; font-weight: normal; text-decoration: none; }
.pluginBreadCrumbs A:visited  { color: #EFEFEF; font-style: normal; font-weight: normal; text-decoration: none; }
.pluginBreadCrumbs A:hover    { color: #FFD700; font-style: normal; font-weight: normal; text-decoration: none; }

A.pluginButton:link, A.pluginButton:visited {
    color: #000;
    text-align: center;
    padding-top: 2px;
    display: block;
    height: 19px;
    text-decoration: none;
    background-color: transparent;
}
A.pluginButton:hover { 
    color: blue; 
    text-align: center; 
    padding-top: 2px; 
    background: center url(navbar/images/button_over.gif); 
    background-repeat: repeat-x; 
    display: block; 
    height: 19px; 
    text-decoration: none; 
    background-color: transparent;
}


/* Navbar Class CSS */
    #navcontainer {
      float:left;
      width:100%;
      background:#F4F4F4;
      font-size:93%;
      line-height:normal;
	  border-bottom:1px solid #24618E;
      }
    #navcontainer ul {
	margin:0;
	padding:10px 10px 0 50px;
	list-style:none;
      }
    #navcontainer li {
      display:inline;
      margin:0;
      padding:0;
      }
    #navcontainer a {
      float:left;
      background:url("navbar/images/tableftJ.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 5px;
      text-decoration:none;
      }
    #navcontainer a span {
      float:left;
      display:block;
      background:url("navbar/images/tabrightJ.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#24618E;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
    #navcontainer a span {float:none;}
    /* End IE5-Mac hack */
    #navcontainer a:hover span {
      color:#FFF;
      }
    #navcontainer a:hover {
      background-position:0% -42px;
      }
    #navcontainer a:hover span {
      background-position:100% -42px;
      }

    #navcontainer a#current span {
      background:url("navbar/images/tabrightI.gif") no-repeat left top;
      background-position:100% -42px;color: #FFF;
      }
    #navcontainer a:link#current, #navcontainer a:visited#current, #navcontainer a:hover#current{
      background:url("navbar/images/tableftI.gif") no-repeat left top;
      background-position: 0% -42px; 
      }
