/* STYLESHEET FORMAT GUIDE *****************************************************

  split into the following sections:
  - semantics (direct formatting for <td>, <a>, etc)
  - classes (.whatever)
  - common plugin CSS
  - navbar
  Within these sections, entries are to be strictly alphabetized.

  SAMPLE:
  .poll-vote,
  .poll-vote-results {
    background:transparent;
    color:#000000;
    font-size:smaller;
  }

  These are the rough rules:
  - always put a ';' after the last entry
  - always a linebreak before .
  - always a linebreak after , ; { and }
  - always a . before all classes
  - two spaces indent
  - no tabs
  - no spaces after colons
*/

/* SEMANTICS ******************************************************************/

a {
  background:transparent;
}

a:link.non-ul,
a:visited.non-ul,
a:hover.non-ul,
a:active.non-ul {
  color:#000000;
  text-decoration:none;
}
a:link {
  color:#0000FF;
}
a:visited {
  color:#800080;
}
a:hover {
  color:#008000;
}
a:active {
  color:#FF0000;
}
body {
  width:99%;
  background:#FFFFFF;
  color:#000000;
  font:0.8em arial,verdana,tahoma,helvetica,sans-serif;
  padding:0px;
  margin:0px auto;
  border:1px solid #E7E7E7;
  padding-left:1px;
  padding-right:1px;
}
fieldset {
  margin-bottom:1em;
}
fieldset p {
  padding:5px;
  margin:0px;
  margin-top:5px;
  margin-bottom:0px;
}
fieldset legend {
  font-size:0.9em;
}
form {
  margin-top:5px;
  margin-bottom:5px;
}
form div.notes p,
form div small {
  line-height:125%;
}
form div.notes ul {
  margin:0px;
  padding:0px;
  padding-left:2px;
}
form div.notes ul li {
  margin-left:15px;
  list-style-position:outside;
  padding-right:2px;
}
form fieldset div.notes {
  float:right;
  position:relative;
  right:30px;
  width:150px;
  height:auto;
  margin:0px 0px 10px 10px;
  padding:5px;
  border:1px solid #666666;
  background-color:#ffffe1;
  color:#666666;
  font-size:.75em;
}

form fieldset div.notes h4 {
  background-image:url(images/icon_info.png);
  background-repeat:no-repeat;
  background-position:top left;
  padding:3px 0px 2px 27px;
  border-width:0px 0px 1px 0px;
  border-style:solid;
  border-color:#666666;
  color:#666666;
  margin-bottom:5px;
  margin-top:0px;
  font-size:1.3em;
}

form fieldset div.notes p {
  margin:0em 0em 1.2em 0em;
  color:#666666;
}

form fieldset div.notes p.last {
  margin:0em;
  padding-bottom:5px;
}
form label {
    font-weight:bold;
}
h1 {
  font-size:125%;
}
h2 {
  font-size:100%;
}
h3 {
  font-size:100%;
  margin:0px;
}
img {
  border:0;
}
input {
  font-size:.9em;
}
input,
submit,
td {
  color:#000000;
}
table {
  border:0px;
}
textarea {
  color:#000000;
  font-family:arial,verdana,tahoma,helvetica,sans-serif;
}
th {
  color:#000000;
  background-color:#DAE0ED;
  font-weight:bold;
  padding-left:3px;
  text-align:left;
}
p {
  margin-top:5px;
}
select {
  color:#000000;
  font-size:.9em;
}

/* CLASSES ********************************************************************/

/* Admin lists ****************************************************************/
.admin-menu-icon {
  float:left;
  padding:5px;
}
.admin-menu {
  /* the box around the menu */
  padding:5px;
  border:1px solid #EEEEEE;
}
.admin-menu-text {
  /* the text below the links */
  padding:5px;
}
.admin-menu-item {
  /* a single link in the menu */
  padding: 0px 5px 0px 5px;
}
.admin-list-smalltable {
  text-align:left;
  border-spacing:1px;
}
.admin-list-table {
  width:100%;
  text-align:left;
  border-spacing:1px;
}
.admin-list-table form {
  margin:0px;
}
.admin-list-search {
  text-align:center;
  margin-top:5px;
  margin-bottom:5px;
}
.admin-list-field {
  text-align:left;
  padding-left:5px;
  padding-right:5px;
}
.admin-list-headerfield {
  text-align:left;
  padding-left:5px;
  padding-right:5px;
  padding-top:2px;
  padding-bottom:2px;
}
/* Menus in blocks ************************************************************/
.blocklist ul {
  list-style:none;
  padding:0px;
  margin:0px;
}
/* general alignment classes **************************************************/
.alignleft {
  text-align:left;
}
.alignright {
  text-align:right;
}
.aligncenter {
  text-align:center;
}
.aligntop {
  vertical-align:top;
}
.floatright {
  float:right;
}
.floatleft {
  float:left;
}
.clearboth {
  clear:both;
}
/* clear floats by applying the clearfix class to float-encasing block !*******/
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
/* general formatting classes *************************************************/
.b {
  font-weight:bold;
}
.ext-link {
  background-color: transparent;
  background: url(./images/external.png) center right no-repeat;
  background-attachment: scroll;
  padding-right: 13px;
}
.ext-link-rtl {
}
.feed-link {
  background-color: transparent;
  background: url(./images/feed.png) center right no-repeat;
  background-attachment: scroll;
  padding: 2px 16px 2px 0px;
}
.feed-link-rtl {
}
.strike {
  text-decoration: line-through;
}
/* Blocks *********************************************************************/
.block-box-left,
.block-box-right,
.block-box {
  margin:5px 10px 15px 10px;
}
.block-box-left ul,
.block-box-right ul {
  /* do not indent lists in the blocks too much */
  margin:0px;
  padding-left:20px;
}
.block-bg-left,
.block-bg-right {
}
.block-bg-spreader {
  /* this is making sure that the blocks have a minimum width */
  background:transparent;
  width:180px;
  height:1px;
}
.block-content,
.block-content-right,
.block-content-left {
  background:transparent;
  color:#000000;
  padding-bottom:2px;
  padding-top:2px;
  clear:both;
}
.block-content-left ul,
.block-content-right ul,
.block-content ul {
  margin-top:0;
  margin-bottom:0;
  margin-left:16px;
  padding-left:0;
  border:none;
}
.block-divider {
  background:#FFFFFF;
  border-bottom:1px solid #F7F7F7;
  border-top:1px solid #E7E7E7;
  color:#000000;
  padding-top:2px;
}
.block-divider-left {
  border-top:1px solid #E7E7E7;
  border-bottom:1px solid #FFFFFF;
  width:90%;
  margin:0 auto;
  line-height:0px;
}
.block-divider-right {
  border-top:1px solid #CCCCCC;
  border-bottom:1px solid #FFFFFF;
  width:90%;
  margin:0 auto;
  line-height:0px;
}
.block-featured-left {
  background:#F7F7F7;
  border-right:1px solid #FFFFFF;
  color:#000000;
}
.block-featured-right {
  background:#E7E7E7;
  border-left:1px solid #FFFFFF;
  color:#000000;
}
.block-helpicon {
  padding-top:5px;
  text-align:right;
  float:right;
}
.block-outerborder-left {
  border-left:1px solid #E7E7E7;
  padding:0px;
  margin:0px;
}
.block-outerborder-right {
  border-right:1px solid #CCCCCC;
}
.block-title,
.blocktitle,
.block-title-left,
.block-title-right {
  background:transparent;
  color:#1A3955;
  font-weight:bold;
  padding-top:5px;
  padding-bottom:5px;
  text-align:left;
}
/* Comments *******************************************************************/
.commentbar-line1 {
  background:transparent;
  color:#000000;
  padding:3px 3px;
  text-align:center;
}
.commentbar-line2 {
  background:#E7E7E7;
  text-align:center;
  padding-left:3px;
  padding-right:3px;
}
.commentbar-line3 {
  background:#FFFFFF;
  border-bottom:1px solid #FFFFFF;
  border-top:1px solid #E7E7E7;
  color:#000000;
  padding:3px 3px;
  text-align:center;
}
.commenttitle {
  background:#F7F7F7;
  border-bottom:1px solid #E7E7E7;
  border-left:1px solid #E7E7E7;
  border-right:1px solid #E7E7E7;
  border-top:1px solid #E7E7E7;
  font-weight:bold;
  font-size:smaller;
  padding:3px 0px 3px 10px;
}
.comment-edit {
  font-style: italic;
  font-size: 0.85em;
  color: #BBB;
  padding-top:1ex;
}
.comment-sig {
  color:#666666;
  padding-top:1ex;
}
.comment {
  margin-bottom:5px;
}
.commentbody {
  margin-top:5px;
  margin-bottom:1em;
}
.commentthread {
  margin-top:5px;
  margin-bottom:5px;
}
#commentperview {
  margin:0;
  background:transparent;
  border:1px dashed grey;
  padding:5px 10px;
}
#commenteditform {
  margin:0;
  background:#F7F7F7;
  border:1px solid #E7E7E7;
  padding:10px;
}
/******************************************************************************/
.edit-perm-down {
  text-align:center;
}
.edit-perm-up {
  text-align:center;
  padding-right:10px;
  padding-left:10px;
}
.fieldhelp {
  font-size:0.8em;
  color:#666666;
  padding-left:0.8em;
  padding-right:0.8em;
}
/* Footer *********************************************************************/
.footerblock {
  background:#1A3955;
  border-top:1px solid #CCCCCC;
  color:#FFFFFF;
  font-size:0.85em;
  padding-bottom:10px;
  padding-top:10px;
  padding-left:4px;
  padding-right:4px;
  vertical-align:middle;
}
.footerblock a:link {
  background:transparent;
  color:#FFFFFF;
  text-decoration:none;
}
.footerblock a:visited {
  background:transparent;
  color:#FFFFFF;
  text-decoration:none;
}
.footerblock a:hover {
  background:transparent;
  color:#008000;
  text-decoration:none;
}
.footerblock a:active {
  background:transparent;
  color:#FFFFFF;
  text-decoration:none;
}
.footer-divider-top {
  background:#FFFFFF;
  border-top:1px solid #CCCCCC;
  padding-top:1px;
  color:#000000;
}
/* Forms **********************************************************************/
.form-description {
  font-weight:bold;
  float:left;
  width:100px;
  text-align:right;
  padding-right:5px;
  display:block;
}
.form-field {
  padding-bottom:5px;
  margin-left:105px;
}
.checkboxes-list {
  /* this is used for example by COM_checkList */
  list-style:none;
  padding:0px;
  margin:0px;
}
.checkboxes-list span {
  /* space between the text and the checkbox */
  padding-left:5px;
}
.checkboxes-list .gldefault {
  /* default blocks in the user settings block list */
  font-weight:bold;
}
.missing-field {
  /* reserved for future use */
}
.required-field {
  /* reserved for future use */
}
/* Header *********************************************************************/
.header-logo {
  float:left;
  padding-left:15px;
  padding-top:13px;
}
.header-slogan {
  float:right;
  line-height:78px;
  padding-right:15px;
  color: #ffffff;
}
.header-logobg-container-inner {
  background:url(images/header-bg.png) #1A3955;
  border-bottom:1px solid #CCCCCC;
  height:78px;
  margin-bottom:1px;
}
.header-navigation-container {
  border-bottom:1px solid #FFFFFF;
  background:#E7E7E7;
}
.header-navigation-container ul {
  list-style: none;
  padding:0px;
  margin:0px;
  border-bottom:1px solid #CCCCCC;
  color:#FFFFFF;
  float:right;
  height:24px;
}
.header-navigation-container li {
  float:left;
  padding-right:9px;
  padding-left:9px;
  margin-top:4px;
  background:transparent;
  font-size:.9em;
  border-left: 1px dotted #FFFFFF;
}
.header-navigation-container a:link {
  color:#0000FF;
}
.header-navigation-container a:visited {
  color:#800080;
}
.header-navigation-container a:hover {
  color:#008000;
}
.header-navigation-container a:active {
  color:#FF0000;
}
.header-welcomeanddate-text {
  padding-top:12px;
  padding-left:4px;
  margin: 0px;
  height:40px;
  border-bottom:1px solid #CCCCCC;
}
/******************************************************************************/
.highlight {
  color:#000000;
  background-color:yellow;
  text-decoration:none;
}
.inputTable td {
  padding:4px;
  vertical-align:top;
}
.inputTable label {
  font-weight:bold;
  float:right;
  white-space:nowrap;
}
.moderation-cc {
  width:100%;
}
.moderation-cc-row {
  clear:both;
  height:80px;
  width:100%;
}
.moderation-cc-item {
  float:left;
  text-align:center;
}
.nowrap {
  white-space:nowrap;
}
.pagenav {
  text-align:center;
}
.row_center td {
  text-align:center;
}
.searchauth {
  background:transparent;
  color:#000000;
  text-align:left;
}
.searchdate {
  background:transparent;
  color:#000000;
  text-align:right;
}
.searchform-box {
  background:#E7E7E7;
  text-align:right;
  border-bottom:1px solid #CCCCCC;
  height:52px;
  padding:0px 4px 0px 1px;
  margin:0px;
}
.searchform-elements {
  display:inline;
  position:relative;
  top:6px;
}
.searchform-elements input {
  font-size:0.9em;
}
.searchhits {
  background:transparent;
  color:#000000;
  text-align:right;
}
.searchresult-byline {
  color:green;
}
.site-slogan {
  color:#ffffff;
  background:transparent;
}
.sysmessage img {
  border:none;
  float:left;
  padding-bottom:3px;
  padding-right:5px;
}
/* Stats **********************************************************************/
.stats-list-count {
  text-align:right;
  padding-left:5px;
  padding-right:5px;
}
.stats-header-title {
  text-align:left;
  width:90%;
  padding-left:5px;
  padding-right:5px;
}
.stats-header-count {
  text-align:left;
  width:10%;
  padding-left:5px;
  padding-right:5px;
}
/* Story **********************************************************************/
.story {
  /* the frame around all elements of one story */
  background:transparent;
  color:#000000;
}
.story h1 {
  /* the title of a story */
  background:transparent;
  color:#000000;
  font-weight:bold;
  padding-left:1px;
}
.story-body {
  /* this is the actual content of the story */
  padding:3px;
}
.story-featured {
  /* the frame around all elements of a featured story */
  background:transparent;
  color:#000000;
}
.story-featured h1 {
  /* the title of a featured story */
  background:transparent;
  color:#000000;
  font-weight:bold;
  font-size:1.4em;
  padding-left:1px;
}
.story-icons {
  /* print & mail icons in a storybox */
  float:right;
  padding-top:10px;
}
.story-icons a {
  margin-left:5px;
}
.story-container {
  /* frame around all stories & centerblocks*/
  padding-right:9px;
  width:100%;
  vertical-align:top;
}
.story-footer {
  /* the bottom of the story with edit-links etc */
  padding:3px;
  text-align:center;
  clear:both;
}
.story-footer p {
  padding:0px;
  margin:0px;
}
.story-information {
  /* the author, views and date of a story */
  padding:3px;
  font-size:0.85em;
  background:transparent;
  color:#000000;
}
.story-information p {
  padding:0px;
  margin:0px;
}
/******************************************************************************/
#token-expirynotice {
  padding:1em;
  border:1px solid #CCCCCC;
  background:#F7F7F7;
}
#token-expirytime {
  font-weight:bold;
}
.topicoption,
.topicoption-off {
}
.warning {
  background:transparent;
  color:#FF0000;
  font-weight:bold;
}
.warningsmall {
  background:transparent;
  color:#FF0000;
}

/* Default Plugin CSS Declarations */
/* Recommended CSS to be used by Plugin Authors - allows easier site themeing */

.plugin {
  color:#000000;
  background-color:#EFEFEF;
  font-weight:normal;
  border:1px solid #CCCCCC;
}
.plugin th {
  color:#000000;
  background-color:#B7C1DC;
  padding:5px;
  text-align:left;
}
.plugin tr {
  vertical-align:top;
}
.plugin td {
  padding:2px 5px 2px 5px;
}
.pluginBG {
  color:#FEFEFE;
  background-color:#7398BA;
}
.pluginAltBG {
  background-color:#7398BA;
}
.pluginAltBG td {
  color:#FFFFFF
}
.pluginCellTitle {
  color:#666666;
  font-weight:bold;
  background-color:#E6E6E6;
  padding:5px;
}
.pluginCellFill {
  background-color:#F8FAFD;
}
.pluginCellText {
  color:#636363;
  font-weight:normal;
}
.pluginHeader {
  color:#204275;
  font-weight:bolder;
  padding-top:3px;
  padding-bottom:3px;
}
.pluginFooter, .pluginFooter td {
  background-color:#507AA1;
  color:#FFFFFF;
  }
.pluginAlert {
  padding:5px 15px 5px 15px;
  color:#D8010E;
  background-color:#FEF1B4;
  font-weight:bold;
}
.pluginInfo {
  padding:5px 15px 5px 15px;
  color:#707070;
  background-color:#FEF1B4;
  font-weight:normal;
}
.pluginSubTable {
  color:#000000;
  background-color:#CCCCCC;
  font-weight:normal;
  border:1px solid #CCCCCC;
}
.pluginSubTable th {
  color:#000000;
  background-color:#C9D1E4;
  padding:5px;
  text-align:left;
}
.pluginSubTable tr {
  vertical-align:top;
}
.pluginSolidOutline {
  background-color:#CCCCCC;
}
.pluginSolidFill {
  background-color:#1A3955;
}
.pluginTitle {
  background-color:#507AA1;
  color:#F5F9FF;
  padding:4px;
  padding-left:6px;
  padding-right:6px;
}
.pluginCellSubTitle {
  background-color:#F7F7F7;
  color:#000000;
  padding:4px;
  padding-left:6px;
  padding-right:6px;
}
.pluginTinyText {
  font-size:0.70em;
}
.pluginSmallText {
  font-size:0.8em;
}
.pluginMediumText {
  font-size:1em;
}
.pluginLargeText {
  font-size:1.25em;
}
.pluginAltText {
  color:#FFFFFF;
}
.pluginRow1, .pluginRow1 td {
  color:#000000;
  background-color:#F7F7F7;
  line-height:120%;
}
.pluginRow2, .pluginRow2 td {
  color:#000000;
  background-color:#E7E7E7;
  line-height: 120%;
}
.pluginRow1 .pluginRollOver,
.pluginRow2 .pluginRollOver,
.pluginRollOver {
  color:#000000;
  background-color:#FFFFFF;
  line-height:120%;
}
.pluginRow1 .pluginRollOut,
.pluginRow2 .pluginRollOut,
.pluginRollOut {
  color:#000000;
  background-color:#F7F7F7;
  line-height:120%;
}
.pluginLinks A:link {
  color:#000000;
  font-style:normal;
  font-weight:normal;
  text-decoration:none;
}
.pluginLinks A:visited {
  color:#000000;
  font-style:normal;
  font-weight:normal;
  text-decoration:none;
}
.pluginLinks A:hover {
  color:#000000;
  font-style:normal;
  font-weight:normal;
  text-decoration:underline;
}
.pluginBreadCrumbs,
.pluginBreadCrumbs A:link {
  color:#FFFFFF;
  font-style:normal;
  font-weight:normal;
  text-decoration:none;
}
.pluginBreadCrumbs A:visited {
  color:#FFFFFF;
  font-style:normal;
  font-weight:normal;
  text-decoration:none;
}
.pluginBreadCrumbs A:hover {
  color:#FFFFFF;
  font-style:normal;
  font-weight:normal;
  text-decoration:none;
}
a.pluginButton:link, a.pluginButton:visited {
  color:#000000;
  text-align:center;
  padding-top:2px;
  display:block;
  height:19px;
  text-decoration:none;
  background-color:transparent;
}
a.pluginButton:hover {
  color:blue;
  text-align:center;
  padding-top:2px;
  background:center url(navbar/images/button_over.gif);
  background-repeat:repeat-x;
  display:block;
  height:19px;
  text-decoration:none;
  background-color:transparent;
}

/* Navbar Class CSS ***********************************************************/
#navcontainer {
  float:left;
  width:100%;
  background:#F4F4F4;
  font-size:93%;
  line-height:normal;
  border-bottom:1px solid #24618E;
  }
#navcontainer ul {
  margin:0px;
  padding:10px 10px 0 50px;
  list-style:none;
}
#navcontainer li {
  display:inline;
  margin:0px;
  padding:0px;
}
#navcontainer a {
  float:left;
  background:url("navbar/images/tableftJ.gif") no-repeat left top;
  margin:0px;
  padding:0px 0px 0px 5px;
  text-decoration:none;
}
#navcontainer a span {
  float:left;
  display:block;
  background:url("navbar/images/tabrightJ.gif") no-repeat right top;
  padding:5px 15px 4px 6px;
  color:#24618E;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#navcontainer a span {
  float:none;
}
/* End IE5-Mac hack */
#navcontainer a:hover span {
  color:#FFFFFF;
}
#navcontainer a:hover {
  background-position:0% -42px;
}
#navcontainer a:hover span {
  background-position:100% -42px;
}
#navcontainer a#current span {
  background:url("navbar/images/tabrightI.gif") no-repeat left top;
  background-position:100% -42px;
  color:#FFFFFF;
}
#navcontainer a:link#current,
#navcontainer a:visited#current,
#navcontainer a:hover#current {
  background:url("navbar/images/tableftI.gif") no-repeat left top;
  background-position:0% -42px;
}

/* Page Navigation *********************************************************************/
.gl-pagenav {
  text-align:center;
}

div.gl-pagenav b {
   display: inline-block;
   margin: 3px;
   padding: 3px;
   line-height: 1.5;
 }
 
/* for IE6 { */
 * html div.gl-pagenav b {
   display: inline;
   zoom: 1;
 }
 /* foe IE6 } */
 
/* for IE7 { */
 *:first-child+html div.gl-pagenav b {
   display: inline;
   zoom: 1;
 }
 /* for IE7 } */
 
div.gl-pagenav a {
   display: inline-block;
   margin: 3px;
   padding: 3px;
   text-decoration: none;
 }
 
/* for IE6 { */
 * html div.gl-pagenav a {
   display: inline;
   zoom: 1;
 }
 /* for IE6 } */
 
/* for IE7 { */
 *:first-child+html div.gl-pagenav a {
   display: inline;
   zoom: 1;
 }
 /* for IE7 } */
 
div.gl-pagenav span {
   display: inline-block;
   padding: 3px;
   line-height: 1.5;
 }
 
/* for IE6 { */
 * html div.gl-pagenav span {
   display: inline;
   zoom: 1;
 }
 /* for IE6 } */
 
/* for IE7 { */
 *:first-child+html div.gl-pagenav span {
   display: inline;
   zoom: 1;
 }
 /* for IE7 } */
 
div.gl-pagenav span a { 
  margin: 0;
   padding: 0;
   background: transparent;
   border: none;
   text-decoration: underline;
 }
  
/* Common CSS for on-hover tooltip feature  *********************************************************************/
a.gl-tooltip {
    border-bottom: 1px dotted #000000; color: #000000; outline: none;
    text-decoration: none;
    position: relative;
}
a.gl-tooltip span {
    margin-left: -999em;
    position: absolute;
    text-align: left;
    width: 250px;
}
a.gl-tooltip:hover span {
    border-radius: 8px; -moz-border-radius: 8px; -webkit-border-radius: 8px; 
    box-shadow: 2px 2px 8px #666; -webkit-box-shadow: 2px 2px 8px #666; -moz-box-shadow: 2px 2px 8px #666;
    font-family: Calibri, Tahoma, Geneva, sans, sans-serif;
    position: absolute; left: 2.2em; top: 2.2em; z-index: 99;
    margin-left: 0; width: 250px;
}
a.gl-tooltip:hover img.icon {
    border: 0; margin: -15px 0 0 -51px;
    float: left; position: absolute;
}
a.gl-tooltip img#gl-tooltip-icon { 
    border: 0;
}
a.gl-tooltip:hover em {
    font-family: Candara, Tahoma, Geneva, sans, sans-serif; font-size: 1.2em; font-weight: bold;
    display: block; padding: 0.2em 0 0.6em 0.4em;
}
span.classic     { padding: 0.8em 1em; }
span.custom      { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover   { background: transparent; }
span.classic     { background: #EEEEEC; border: 2px solid #555753; }
span.critical    { background: #F5F0F0; border: 2px solid #A40000; }
span.help        { background: #EDF0F2; border: 2px solid #204A87; }
span.info        { background: #EDF0F2; border: 2px solid #204A87; }
span.warning     { background: #FCF7EF; border: 2px solid #CE5C00; font-weight: normal; color: black; }

span.critical em { color: #A40000; }
span.help     em { color: #204A87; }
span.info     em { color: #204A87; }
span.warning  em { color: #CE5C00; }

/* End of common CSS for on-hover info feature */

#admin-editor dt#title {
  display:     block;
  font-size:   13px;
  font-weight: bold;
  position:    relative;
  top:         10px;
}

#admin-editor input#close {
  width: 150px;
}

/* Used by lib-plugin.php to display dependencies */
b.notbold { /* hack for HTML compliance inside tooltips */
  font-weight: normal;
}

b.status_red {
  display:     inline;
  color:       #a40000;
}

b.status_orange {
  display:     inline;
  color:       #b25000;
}

b.status_green {
  display:     inline;
  color:       #3d7805;
}

b.status_black {
  display:     inline;
  color:       black;
}
/* End of Common Plugin CSS */

/* Third party login */
form.third-party-login {
  margin: 0.1em 0;
}

form.third-party-login div {
  position: relative;
}

form.third-party-login div img {
  position: absolute;
  left: 6px;
  top: 6px;
}

form.third-party-login div input {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

form.third-party-login div input.submit {
  text-indent: 24px;
  font-size: 12px;
  height: 28px;
}

div.third-party-login {
  width: 164px;
}

/* Admin basic form ***********************************************************/
.admin_basic {
  padding: 0.5em 2em;
}
.form_block {
  margin: 0;
  padding: 0;
}
.form_block:after {
  content: "";
  display: block;
  clear: both;
  height: 1px;
  overflow: hidden;
}
.compact dt {
  float: left;
  clear: left;
  width: 15%;
  margin: 0 0 1em 0;
  padding: 0 1% 0 0;
  font-weight: normal;
  text-align: right;
}
.compact dt:after {
  content: ":";
}
.compact dt label {
  font-weight: normal;
}
.compact dd {
  float: left;
  width: 84%;
  margin: 0 0 1em 0;
  padding: 0;
}
.compact dd.description {
  margin: -0.5em 0 1em 16%;
  padding: 0;
}
.compact p.description {
  margin: 0 0 1em 0;
  padding: 0;
}
.wide {
  width: 98%;
}
.separator {
  display: none;
}
.size1  { width:  60px; }
.size2  { width: 120px; }
.size3  { width: 180px; }
.size4  { width: 240px; }
.size5  { width: 300px; }
.size6  { width: 360px; }
.size7  { width: 420px; }
.size8  { width: 480px; }
.size9  { width: 540px; }
.size10 { width: 600px; }

