a:link.non-ul {
  color:#000000;
  background: transparent;
  text-decoration: none;
}
a:visited.non-ul {
  color:#000000;
  background: transparent;
  text-decoration: none;
}
a:hover.non-ul {
  color:#000000;
  background: transparent;
  text-decoration: none;
}
a:active.non-ul {
  color:#000000;
  background: transparent;
  text-decoration: none;
}
a:link {
  background:transparent;
  color:#0000FF
}
a:visited {
  background:transparent;
  color:#800080
}
a:hover {
  background:transparent;
  color:#008000
}
a:active {
  background:transparent;
  color:#FF0000
}
body {
  background:#FFFFFF;
  color:#000000;
  font:100% tahoma,verdana,helvetica,arial,sans-serif;
  /*
    scrollbar-3dlight-color:#D1D7DC;
    scrollbar-arrow-color:#006699;
    scrollbar-darkshadow-color:#98AAB1;
    scrollbar-face-color:#DEE3E7;
    scrollbar-highlight-color:#FFFFFF;
    scrollbar-shadow-color:#DEE3E7;
    scrollbar-track-color:#EFEFEF;
  */
  margin:0px
}
h1 {
  font-size: 125%;
}
h2 {
  font-size: 100%;
}
img {
  border: 0;
}
input, submit {
  color:#000000;
  font:82% Tahoma,verdana,helvetica,arial,sans-serif
}
select {
  color:#000000;
  font:82% Tahoma,verdana,helvetica,arial,sans-serif
}
td {
  color:#000000;
  font:73% Tahoma,verdana,helvetica,arial,sans-serif
}
textarea {
  color:#000000;
  font:100% Tahoma,verdana,helvetica,arial,sans-serif
}
th {
  color:#000000;
  background-color: #DAE0ED;
  font:bold smaller Tahoma,verdana,helvetica,arial,sans-serif;
  padding-left:3px;
}
.block-divider {
  background:#FFFFFF;
  border-bottom:1px solid #F7F7F7;
  border-top:1px solid #E7E7E7;
  color:#000000
}
.block-divider-left {
  background:#FFFFFF;
  border-top:1px solid #E7E7E7;
  color:#000000
}
.block-divider-right {
  background:#FFFFFF;
  border-top:1px solid #CCCCCC;
  color:#000000
}
.block-featured-left {
  background:#F7F7F7;
  border-right:1px solid #FFFFFF;
  color:#000000;
  font:100% Tahoma,verdana,helvetica,arial,sans-serif
}
.block-featured-right {
  background:#E7E7E7;
  border-left:1px solid #FFFFFF;
  color:#000000;
  font:100% Tahoma,verdana,helvetica,arial,sans-serif
}
.block-hightopborder-left {
  border-top:1px solid #FFFFFF
}
.block-info {
  background:transparent;
  color:#000000;
  font:75% Tahoma,verdana,helvetica,arial,sans-serif
}
.block-info-left {
  background:transparent;
  color:#000000;
  font:75% Tahoma,verdana,helvetica,arial,sans-serif;
  padding-bottom:2px;
  padding-top:2px
}
.block-info-left ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 16px;
  padding-left: 0;
  border: none;
}
.block-info-right {
  background:transparent;
  color:#000000;
  font:75% Tahoma,verdana,helvetica,arial,sans-serif;
  padding-bottom:2px;
  padding-top:2px
}
.block-info-right ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 16px;
  padding-left: 0;
  border: none;
}
.block-outerborder-left {
  border-left:1px solid #E7E7E7
}
.block-outerborder-right {
  border-right:1px solid #CCCCCC
}
.block-title,blocktitle {
  background:transparent;
  color:#1A3955;
  font:bold smaller Tahoma,verdana,helvetica,arial,sans-serif;
  padding-top:13px
}
.block-title-left {
  background:transparent;
  color:#1A3955;
  font:bold smaller Tahoma,verdana,helvetica,arial,sans-serif
}
.block-title-right {
  background:transparent;
  color:#1A3955;
  font:bold smaller Tahoma,verdana,helvetica,arial,sans-serif
}
.block-vote {
  background:transparent;
  color:#000000;
  font:90% Tahoma,verdana,helvetica,arial,sans-serif
}
.block-vote-results {
  background:transparent;
  color:#000000;
  font:90% Tahoma,verdana,helvetica,arial,sans-serif
}
.cal-body {
  background:#FFFFFF;
  border-bottom:#E7E7E7 1px solid;
  border-left:#E7E7E7 1px solid;
  border-right:#E7E7E7 1px solid;
  border-top:#E7E7E7 1px solid;
  color:#000000;
  font:bold 150% Tahoma,verdana,helvetica,arial,sans-serif
}
.cal-day,cal_day {
  background:transparent;
  border-bottom:#F7F7F7 1px dashed;
  border-left:#F7F7F7 1px dashed;
  border-top:#1A3955 2px solid;
  color:#000000;
  font:bold 75% Tahoma,verdana,helvetica,arial,sans-serif
}
.cal-dayview-times {
  background:#F7F7F7;
  border-bottom:#E7E7E7 1px solid;
  border-left:#E7E7E7 1px solid;
  border-right:#E7E7E7 1px solid;
  border-top:#1A3955 1px dashed;
  color:#000000;
  font:bold 80% Tahoma,verdana,helvetica,arial,sans-serif
}
.cal-dayx-body {
  background:#E7E7E7
}
.cal-dayx-cur {
  background:#FFFFFF;
  color:#000000;
  font:bold 80% Tahoma,verdana,helvetica,arial,sans-serif
}
.cal-dayx-subcur {
  background:#FFFFFF;
  color:#000000;
  font:bold 80% Tahoma,verdana,helvetica,arial,sans-serif;
  padding-top:4px
}
.cal-dayx-times {
  border-bottom:#FFFFFF 1px solid;
  border-left:#FFFFFF 1px solid;
  border-right:#FFFFFF 1px solid
}
.cal-dayx-times2 {
  background:#FFFFFF
}
.cal-dayx-weekevent {
  border-bottom:#FFFFFF 1px solid;
  border-left:#FFFFFF 1px dashed;
  border-right:#FFFFFF 1px dashed;
  border-top:#E7E7E7 1px solid
}
.cal-futureday {
  background:#F7F7F7
}
.cal-header {
  background:#FFFFFF;
  border-bottom:#F7F7F7 1px solid;
  border-left:#F7F7F7 1px solid;
  border-right:#F7F7F7 1px solid;
  border-top:#F7F7F7 1px solid
}
.cal-hr {
  background:#FFFFFF
}
.cal-month,cal_month {
  background:#F7F7F7;
  color:#000000
}
.cal-nullday {
  background:#FFFFFF;
  border-bottom:#F7F7F7 1px dashed;
  border-left:#F7F7F7 1px dashed;
  border-top:#F7F7F7 1px dashed;
  color:#000000
}
.cal-oldday {
  background:#E7E7E7;
  color:#000000
}
.cal-quickadd,quickadd {
  background:#F7F7F7;
  border-bottom:#E7E7E7 1px solid;
  border-left:#E7E7E7 1px solid;
  border-right:#E7E7E7 1px solid;
  border-top:#E7E7E7 1px solid;
  padding:4px
}
.cal-today {
  background:#FFFFFF;
  border-bottom:#1A3955 1px dashed;
  border-left:#1A3955 1px dashed;
  border-right:#1A3955 1px dashed;
  border-top:#1A3955 1px dashed
}
.cal-weekpointers {
  border-bottom:#F7F7F7 1px dashed;
  border-left:#F7F7F7 1px dashed
}
.cal-weekview-addevent {
  background:#FFFFFF;
  border-right:#E7E7E7 1px solid;
  border-top:#E7E7E7 1px solid;
  color:#000000;
  font:bold 80% Tahoma,verdana,helvetica,arial,sans-serif;
  padding:4px
}
.cal-weekview-caltitle {
  background:#FFFFFF;
  border-bottom:#E7E7E7 1px solid;
  border-left:#E7E7E7 1px solid;
  border-right:#E7E7E7 1px solid;
  color:#000000;
  font:bold 80% Tahoma,verdana,helvetica,arial,sans-serif;
  padding:4px
}
.cal-weekview-curday,weekview_curday {
  background:#F7F7F7;
  color:#000000
}
.cal-weekview-daterange {
  background:#FFFFFF;
  border-left:#E7E7E7 1px solid;
  border-right:#E7E7E7 1px solid;
  border-top:#E7E7E7 1px solid;
  color:#000000;
  font:bold 80% Tahoma,verdana,helvetica,arial,sans-serif;
  padding:4px
}
.cal-weekview-dayformat {
  background:#FFFFFF;
  border-left:#E7E7E7 1px solid;
  border-top:#E7E7E7 1px solid;
  color:#000000;
  font:bold 80% Tahoma,verdana,helvetica,arial,sans-serif;
  padding:4px
}
.cal-weekview-offday,weekview_offday {
  background:transparent;
  color:#000000
}
.commentbar1 {
  background:transparent;
  color:#000000;
  font:75% Tahoma,verdana,helvetica,arial,sans-serif;
  padding:3px 3px
}
.commentbar2 {
  background:#E7E7E7;
  border-bottom:1px solid #FFFFFF;
  border-top:1px solid #FFFFFF;
  font:75% Tahoma,verdana,helvetica,arial,sans-serif
}
.commentbar3 {
  background:#FFFFFF;
  border-bottom:1px solid #FFFFFF;
  border-top:1px solid #E7E7E7;
  color:#000000;
  font:75% Tahoma,verdana,helvetica,arial,sans-serif;
  padding:3px 3px
}
.commentbar4 {
  background:#E7E7E7;
  color:#000000;
  font:75% Tahoma,verdana,helvetica,arial,sans-serif
}
.commenttitle {
  background:#F7F7F7;
  border-bottom:1px solid #E7E7E7;
  border-left:1px solid #E7E7E7;
  border-right:1px solid #E7E7E7;
  border-top:1px solid #E7E7E7;
  font:bold smaller Tahoma,verdana,helvetica,arial,sans-serif;
  padding:3px 0px 3px 10px
}
.footerblock {
  background:#1A3955;
  border-top:1px solid #CCCCCC;
  color:#FFFFFF;
  font:70% Tahoma,verdana,helvetica,arial,sans-serif;
  padding-bottom:10px;
  padding-top:10px;
  padding-left: 4px;
  padding-right: 4px;
}
.footerblock a:link {
  background:transparent;
  color:#FFFFFF;
  font:100% Tahoma,verdana,helvetica,arial,sans-serif;
  text-decoration:none
}
.footerblock a:visited {
  background:transparent;
  color:#FFFFFF;
  font:100% Tahoma,verdana,helvetica,arial,sans-serif;
  text-decoration:none
}
.footerblock a:hover {
  background:transparent;
  color:#008000;
  font:100% Tahoma,verdana,helvetica,arial,sans-serif;
  text-decoration:none
}
.footerblock a:active {
  background:transparent;
  color:#FFFFFF;
  font:100% Tahoma,verdana,helvetica,arial,sans-serif;
  text-decoration:none
}
.header-envelope {
  border-bottom:1px solid #E7E7E7;
  border-left:1px solid #E7E7E7;
  border-right:1px solid #E7E7E7;
  border-top:1px solid #E7E7E7;
  padding-left:1px;
  padding-right:1px
}
.header-logobg {
  padding-top:4px
}
.header-logobg-container-inner {
  background:#FFFFFF;
  background:url(images/header-bg.png) #1A3955;
  border-bottom:1px solid #CCCCCC
}
.header-logobg-container-outer {
  background:#FFFFFF;
  padding-bottom:1px
}
.header-navigation {
  background:#E7E7E7;
  border-bottom:1px solid #CCCCCC;
  color:#FFFFFF;
  font:82% Tahoma,verdana,helvetica,arial,sans-serif;
  padding-bottom:3px;
  padding-top:4px
}
.header-navigation a:link {
  background:transparent;
  border-bottom:0px solid #CCCCCC;
  color:#0000FF;
  font:82% Tahoma,verdana,helvetica,arial,sans-serif
}
.header-navigation a:visited {
  background:transparent;
  border-bottom:0px solid #CCCCCC;
  color:#800080;
  font:82% Tahoma,verdana,helvetica,arial,sans-serif
}
.header-navigation a:hover {
  background:transparent;
  border-bottom:0px solid #CCCCCC;
  color:#008000;
  font:82% Tahoma,verdana,helvetica,arial,sans-serif
}
.header-navigation a:active {
  background:transparent;
  border-bottom:0px solid #CCCCCC;
  color:#FF0000;
  font:82% Tahoma,verdana,helvetica,arial,sans-serif
}
.header-navigation-container {
  border-bottom:1px solid #FFFFFF
}
.header-welcomeanddate {
  border-bottom:1px solid #CCCCCC;
  height:53px
}
.highlight {
  color: #000000;
  background-color: yellow;
  text-decoration: none;
}
.pagenav {
  text-align: center;
}
.row-even {
  background-color: #E7E7E7;
}
.row-odd {
  background-color: #FFFFFF;
}
.searchauth {
  background:transparent;
  color:#000000;
  font:100% Tahoma,verdana,helvetica,arial,sans-serif;
  text-align:left
}
.searchdate {
  background:transparent;
  color:#000000;
  font:100% Tahoma,verdana,helvetica,arial,sans-serif;
  text-align:right
}
.searchform {
  background:#E7E7E7;
  border-bottom:1px solid #CCCCCC;
  height:53px;
  padding:6px 4px 6px 1px
}
.searchhits {
  background:transparent;
  color:#000000;
  font:100% Tahoma,verdana,helvetica,arial,sans-serif;
  text-align:right
}
.site-slogan {
  color:#ffffff;
  background:transparent;
}
.smallcal-week-even {
  background:#E7E7E7;
  color:#000000;
}
.story-box {
  background:transparent;
  color:#000000;
  font:100% Tahoma,verdana,helvetica,arial,sans-serif
}
.story-byline,storybyline {
  background:transparent;
  color:#000000;
  font:90% Tahoma,verdana,helvetica,arial,sans-serif
}
.story-container {
  padding-right:9px;
}
.story-information {
  background:transparent;
  color:#000000;
  font:70% Tahoma,verdana,helvetica,arial,sans-serif
}
.story-title {
  background:transparent;
  color:#000000;
  font:bold 110% Tahoma,verdana,helvetica,arial,sans-serif
}
.story-title-featured {
  background:transparent;
  color:#000000;
  font:bold 110% Tahoma,verdana,helvetica,arial,sans-serif
}
.warning {
  background:transparent;
  color:#FF0000;
  font:bold 100% Tahoma,verdana,helvetica,arial,sans-serif
}
.warningsmall {
  background:transparent;
  color:#FF0000;
  font:100% Tahoma,verdana,helvetica,arial,sans-serif
}
.xpinputfield {
  border:1px solid #7B9EBD
}

/******************   NEW CSS ADDED FOR FORUM Ver 2.3 ************************/

TD.navbar      {
    color: #FFFFFF;
    background-color: #666666;
    font-family: Verdana, sans-serif;
    font-size: 10px;
    line-height: 32px;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    }

TD.navbar a:link, TD.navbar a:visited { 
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    font-family: Verdana, sans-serif;
    text-decoration: none;
    padding: 2px
    }

TD.navbar a:hover { 
    color: #FFCC00;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    font-family: Verdana, sans-serif;
    text-decoration: none;
    padding: 2px;
    }

#forumheading          { text-align:left; background-color: #FFFFFF; }
.forumtext             { color: #000; }
.forumclass1           { text-align:left; background-color: #BFBFBF; }
.forumclass2           { text-align:left; background-color: #CCCCCC; }
.forumclass3           { text-align:left; background-color: #EFEFEF; }
.forumclass4           { text-align:left; background-color: #CCCCCC; }
.forumoutline          { background-color: #CCCCCC; }

/* These CSS declarations for links are used in a few places but are here for theme designers to use if needed - can be added to templates  */
.forumlinks A:link            { color: #000000; font-style: normal; font-size: 11px; font-family: Verdana, sans-serif; text-decoration: underline }
.forumlinks A:visited        { color: #000000; font-style: normal; font-size: 11px; font-family: Verdana, sans-serif; text-decoration: underline }
.forumlinks A:hover            { color: #000000; font-style: normal; font-size: 11px; font-family: Verdana, sans-serif; text-decoration: underline }

/* alternate table row colours */
.forumAlt1   { background-color: #F5F5F5; }
.forumAlt2   { background-color: #FFFFFF; }

.quotebox   { 
     border-style: ridge; 
     background-color: #ECE9D8; 
     padding:10px;
     margin: 0px;
     }

.quotetext {
     color:#000; 
     font-weight: normal; 
     background-color: #ECE9D8; 
     font-family: Verdana, sans-serif; 
     font-size: 9px; 
     }

.forumCode  { 
    background-color: #ECE9D8; 
    color: #000;
    width: 470px;
    height: 160px;
    overflow: auto;
    font-size: 11px;
    min-height: 50px;
    max-height: 120px;
    margin: 5px 0px 5px 5px;
    padding:5px;
    border: 1px dashed black;
    }

.forumTitle   {
    color: #000000;
    background-color: #EFEFEF;
    font-weight: bold;
    font-size: 12px;
    line-height: 14pt;
    font-family: Verdana, Helvetica, sans-serif; }

TD.forumRollOver  { 
    text-align:left;
    background-color: #FFFFFF; 
    font-family: Verdana, Helvetica, sans-serif; 
    color: #000033  
    }
TD.forumRollOut   { 
    text-align:left;
    background-color: #EFEFEF; 
    font-family: Verdana, Helvetica, sans-serif; 
    color: #000033  
    }

.cblockTitle    {
    color: #FFFFFF;
    background-color: #506790;
    font-weight: bold;
    font-size: 12px;
    line-height: 16pt;
    padding-left:5px;
    font-family: Verdana, Helvetica, sans-serif;
}
/* New Plugin CSS Declarations */
.pluginBG              { background-color: #EFEFEF; }
.pluginAltBG           { background-color: #1C1E2D; }
.pluginTitle           { color: #1C1E2D; background-color:#EFEFEF; font-weight: bold; font-size: 85%; font-family: Verdana, sans-serif; }
.pluginHeader          { color: #1A3955; font-weight: bolder; font-size: 95%; background-color: #CCC; padding:5px; }
.pluginFooter          { background-color:#EFEFEF; }
.pluginAlert           { padding:5px 15px 5px 15px; color:#D8010E; background-color: #FEF1B4; font-weight:bold;}

.pluginSolidOutline    { background-color: #396998; }
.pluginSolidFill       { background-color: #1A3955; }
.pluginCellTitle       { color: #1C1E2D; font-weight: bold; font-size: 80%; font-family: Verdana, sans-serif; background-color: #E5E5EA; }
.pluginCellFill        { background-color: #E5E5EA; }
.pluginCellText        { color: #000; font-weight: plain; font-size: 75%; font-family: Verdana, sans-serif; background-color: #F7F7F7; }
.pluginTinyText        { font-size:70%; }
.pluginSmallText       { font-size:80%; }
.pluginMediumText      { font-size:85%; }
.pluginLargeText       { font-size:90%; }
.pluginAltText         { color: #FFF }

.pluginRow1            { background-color: #EFEFEF; }
.pluginRow2            { background-color: #D9D9D9; }

.pluginRollOver         { color: #1C1E2D; background-color: #FFFF8F; }
.pluginRollOut          { color: #1C1E2D; background-color: #F7F7F7; }

.pluginLinks A:link     { color: #0000FF; font-style: normal; font-weight: plain; text-decoration: none }
.pluginLinks A:visited  { color: #1E1E8E; font-style: normal; font-weight: plain; text-decoration: none }
.pluginLinks A:hover    { color: #0000FF; font-style: normal; font-weight: plain; text-decoration: underline }
.pluginBreadCrumbs, .pluginBreadCrumbs A:link     { color: #EFEFEF; font-style: normal; font-weight: plain; text-decoration: none }
.pluginBreadCrumbs A:visited  { color: #EFEFEF; font-style: normal; font-weight: plain; text-decoration: none }
.pluginBreadCrumbs A:hover    { color: gold; font-style: normal; font-weight: plain; text-decoration: none }

A.pluginButton:link, A.pluginButton:visited {
    color: #000;
    text-align: center;
    padding-top: 2px;
    display: block;
    height: 19px;
    text-decoration: none;
    background-color: transparent;
}
A.pluginButton:hover { 
    color: blue; 
    text-align: center; 
    padding-top: 2px; 
    background: center url(navbar/images/button_over.gif); 
    background-repeat: repeat-x; 
    display: block; 
    height: 19px; 
    text-decoration: none; 
    background-color: 
    transparent;
}

#navcontainer a { text-decoration: none; }

#navcontainer ul  {
    margin: 0px;
    list-style-type: none;
    position: relative;
    border: 0px;
    background-color: #667AB3;
    padding: 5px 0px 0px 0px;
    height:26px;
}

#navcontainer li { float: left; display: inline; margin:0px; padding-top:6px; padding-bottom:5px;}
#navcontainer ul a,
#navcontainer ul a:link,
#navcontainer ul a:visited  { background-color: #4358E1; border:0px solid #4358E1; color: white; padding: 5px; margin:2px; }
#navcontainer ul a:hover,
#navcontainer ul a:focus  { background-color: #55516B; border: 0px solid black; padding-bottom:7px; color: white; }

/* current Link */
#navcontainer ul a#current { background-color: #F2F2F2; border: 0px solid black; padding-bottom:7px; color: #4358E1; }
#navcontainer ul a#current:link,
#navcontainer ul a#current:visited { font-weight: bold; }
