
$stage = 'base'

body, div,
p, blockquote, pre, code,
dl, dt, dd,
fieldset,
form, legend
    margin: 0
    padding: 0

body
    font-family: arial, verdana, tahoma, helvetica, sans-serif
    font-size: 13px
    // All Mobile Sizes (devices and browser)
    @media only screen and (max-width: $breakpoint-small-max)
        font-size: 15px
    line-height: 1.3
    color: $base-text-color
    -webkit-font-smoothing: antialiased /*! Fix for webkit rendering */
    -webkit-text-size-adjust: 100%
    hook-selector($stage, "" + selector())

h1, h2
    margin: 1em 0
    padding: 0
    font-weight: bold
    font-size: 115%

h3, h4, h5, h6
    margin: 0.5em 0
    padding: 0
    font-weight: bold
    font-size: 100%

address
    font-style: normal
    font-weight: normal

p
    margin: 1em 0
    line-height: 1.7em

pre
    background: none repeat scroll 0 0 #F4F4F4
    font-family: monospace
    line-height: 1.5
    margin: 1em 0
    padding: 1em
    overflow: auto
    white-space: pre
    border: 1px solid #DDD
    border-radius: 4px

q:before
    content: open-quote

q:after
    content: close-quote

cite, em, var, dfn
    font-style: italic

code, samp, kbd
    font-family: monospace

abbr[title], acronym[title]
    border-bottom: 1px dotted

a:link,
a:visited
    text-decoration: none

a:hover
    text-decoration: underline

a:link,
a:visited,
a:hover
    color: $base-anker-color

ul, ol, dl
    margin: 1em 0

dt
    font-weight: bold
    margin-left: 20px

dd
    margin-left: 20px

ins
    text-decoration: underline

del
    text-decoration: line-through

textarea
    font-size: 100%
    width: 75%
    min-height: 60px

hr
    height: 1px
    border: none
    border-top: 1px solid #CCC
    margin: 0.5em auto

sub
    vertical-align: sub
    font-size: 0.83em
    line-height: normal

sup
    vertical-align: super
    font-size: 0.83em
    line-height: normal

blockquote
    background: none repeat scroll 0 0 #F5F5F5
    border-color: #BBB
    border-style: solid
    border-width: 1px 0
    color: #666
    margin: 1em 0
    padding: 5px 10px
    font-style: italic

blockquote p
    margin-top: 0.5em
    margin-bottom: 0.5em

fieldset
    margin: 0 0 1em 0
    padding: 8px 12px
    border: 1px solid #CCC
    border-radius: 4px

legend
    padding: 2px 4px

iframe[width="100%"]
    width: 99%

em
    font-weight: bold

img
    border: none
    vertical-align: bottom

/*! Table */

th
    font-weight: bold
    text-align: left
    margin: 0
    background-color: $basic-table-th-background // #DAE0ED // compatible with professional

td
    margin: 0

/*
table
    text-align: left
    border-collapse: collapse
    margin: 1em 0.5em

tr
    margin: 0
    padding: 0
    vertical-align: middle

th,
td
    margin: 0
    padding: 0.2em 0.6em
    vertical-align: middle
    line-height: 160%
    border: 1px solid #DDD

th
    text-align: left
    font-weight: bold
    background: #F5F5F5
*/

table img
    vertical-align: middle

/*! Forms */

input
    margin: 2px

input,
select,
textarea
    font-family: arial, verdana, tahoma, helvetica, sans-serif
    margin-top: 2px
    margin-bottom: 2px

select,
input
    vertical-align: middle

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select
    border: 1px solid #ccc
    padding: 4px
    outline: none
    border-radius: 3px
    font-size: 13px
    color: #555
    margin-left: 0
    margin-right: 3px
    max-width: 100%

// Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
//@media only screen and (max-width: 479px)
@media only screen and (max-width: $breakpoint-mini-max)
    select
        max-width: 270px

select
    height: 28px
    line-height: 28px

select.multiple,
select[multiple="multiple"]
    height: auto

option
    padding-right: 4px    /*! for Firefox */

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus
    border: 1px solid #aaa
    color: $base-text-color
    box-shadow: 0 0 3px rgba(0,0,0,.2)

/*! Buttons */

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"]
    background: #eee linear-gradient(to bottom, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%)
    border: 1px solid #aaa
    border-top: 1px solid #ccc
    border-left: 1px solid #ccc
    padding: 4px 9px
    border-radius: 3px
    color: #444
    display: inline-block
    font-size: 12px
    font-weight: bold
    text-decoration: none
    text-shadow: 0 1px rgba(255, 255, 255, .75)
    cursor: pointer
    line-height: normal
    &:hover
        color: #222
        background: #ddd linear-gradient(to bottom, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%)
        border: 1px solid #888
        border-top: 1px solid #aaa
        border-left: 1px solid #aaa
    &:active
        border: 1px solid #666
        background: #ccc linear-gradient(to bottom, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%)
    &.full-width
        width: 100%
        padding-left: 0 !important
        padding-right: 0 !important
        text-align: center

/*! Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner
    border: 0
    padding: 0

a.button:link,
a.button:visited
    color: #444

a.button:hover
    color: #222
    text-decoration: none

hook-root($stage)
