@charset "utf-8";

/* STYLESHEET FOR PRINTOUTS ***************************************************

 Minimal stylesheet for printable templates.

*/

body {
  padding: 16px;
  background:#FFFFFF;
  color:#000000;
  font-family: "Hiragino Mincho Pro", "ヒラギノ明朝 Pro W3", Osaka, "ＭＳ Ｐ明朝", Verdana, Arial, Helvetica, sans-serif;
}

  h1#printable-story_title {
    margin: 0 0 0.67em 0;
    padding: 0;
    font-size: 2em;
    font-weight: bolder;
  }

  ul#printable-author {
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  ul#printable- li {
    margin: 0;
    padding: 0;
  }

  div#printable-story_introtext,
  div#printable-story_bodytext {
    margin: 0 0 1em 0;
    padding: 0;
  }

  dl#printable-url {
    margin: 0;
    padding: 1em 0 0 0;
    border-top: 1px solid #000000;
  }

  dl#printable-url dt {
    margin: 0;
    padding: 0;
  }

  dl#printable-url dd {
    margin: 0;
    padding: 0;
  }
